<header>
    <img id='flag' src='/client/img/flag.png' alt='flag'>
    <div id='title-div'>
        <h1 id='page-title'>Balanlàedenuges ljngeg</h1>
        <h3 id='page-subtitle'>'Tör waej rjnlug, waej wjljnaj.'</h3>
    </div>
    <img id='coat' src='/client/img/coat.png' alt='coat'>
</header>