<div id='letters-box'>
    <label id="letter-a" class='letter-listing'>A</label>
    <label id="letter-b" class='letter-listing'>B</label>
    <label id="letter-d" class='letter-listing'>D</label>
    <label id="letter-e" class='letter-listing'>E</label>
    <label id="letter-f" class='letter-listing'>F</label>
    <label id="letter-g" class='letter-listing'>G</label>
    <label id="letter-j" class='letter-listing'>J</label>
    <label id="letter-k" class='letter-listing'>K</label>
    <label id="letter-l" class='letter-listing'>L</label>
    <label id="letter-o" class='letter-listing'>O</label>
    <label id="letter-r" class='letter-listing'>R</label>
    <label id="letter-s" class='letter-listing'>S</label>
    <label id="letter-t" class='letter-listing'>T</label>
    <label id="letter-u" class='letter-listing'>U</label>
    <label id="letter-w" class='letter-listing'>W</label>
</div>