<div id='listingLowbar'>
    <div id='statsBar'>
        <div id='tab-btns'>
            <button class='tab-btn'>Listado</button>
            <button class='tab-btn'>Favoritos</button>
            <button class='tab-btn'>Estadísticas</button>
        </div>
    </div>
</div>