<div id='letters-box'>
    <label class='letter-listing'>A</label>
    <label class='letter-listing'>B</label>
    <label class='letter-listing'>D</label>
    <label class='letter-listing'>E</label>
    <label class='letter-listing'>F</label>
    <label class='letter-listing'>G</label>
    <label class='letter-listing'>J</label>
    <label class='letter-listing'>K</label>
    <label class='letter-listing'>L</label>
    <label class='letter-listing'>O</label>
    <label class='letter-listing'>R</label>
    <label class='letter-listing'>S</label>
    <label class='letter-listing'>T</label>
    <label class='letter-listing'>U</label>
    <label class='letter-listing'>W</label>
</div>