<div id='listing-lowbar'>
    <div id='stats-bar'>
        <div id='tab-btns'>
            <button class='tab-btn'>Listado</button>
            <button class='tab-btn'>Favoritos</button>
            <button class='tab-btn'>Estadísticas</button>
        </div>
    </div>
    <div id='listing-view'>
        <p style='margin: 0;font-weight: bold;'>
            Vista del listado:
        </p>
        <label class='listing-view-option'>
            <input id="listing-list" class='listing-view' type='radio' name='listing-view' value='list'>
            Lista
        </label>
        <label class='listing-view-option'>
            <input id="listing-tree" class='listing-view' type='radio' name='listing-view' value='tree'>
            Árbol
        </label>
    </div>
</div>