<nav>
    <div id='options-tab'>
        <div id="config-menu-title">
            <label>⚙️ Menú de configuración</label>
            <label>◀</label>
        </div>
        <div id="config-menu">
            <div class="config-section nav-config">
                <label>Vista previa de palabra</label>
                <div class="config-options">
                    <label><input class="config-radio" type="radio" name="tooltip" value="true">Sí</label>
                    <label><input class="config-radio" type="radio" name="tooltip" value="false">No</label>
                </div>
            </div>
            <div class="config-section nav-config">
                <label>Vista del listado</label>
                <div class="config-options">
                    <label><input class='config-radio' type='radio' name='listing' value='list'>Lista</label>
                    <label><input class='config-radio' type='radio' name='listing' value='tree'>Árbol</label>
                </div>
            </div>
        </div>
    </div>
    <ul id='nav-links'>
        <ul id="section-config" class='nav-section' label='⚙️'></ul>
        <ul id="section-dictionary" class='nav-section' label='Diccionario'>
            <li class='nav-link nav-dictionary' id='nav-diccionario'>Búsqueda de palabra</li>
            <li class='nav-link nav-dictionary' id='nav-listado'>Listado de palabras</li>
        </ul>
        <ul id="section-grammar" class='nav-section' label='Gramática'>
            <li class='nav-link nav-grammar' id='nav-sustantivos'>Sustantivos</li>
            <li class='nav-link nav-grammar' id='nav-verbos'>Verbos</li>
            <li class='nav-link nav-grammar' id='nav-adjetivos'>Adjetivos</li>
            <li class='nav-link nav-grammar' id='nav-adverbios'>Adverbios</li>
            <li class='nav-link nav-grammar' id='nav-pronombres'>Pronombres y artículos</li>
            <li class='nav-link nav-grammar' id='nav-adposiciones'>Adposiciones</li>
            <li class='nav-link nav-grammar' id='nav-composiciones'>Composiciones, ampliaciones y contracciones</li>
            <li class='nav-link nav-grammar' id='nav-sintaxis'>Sintaxis y ortografía</li>
        </ul>
        <ul id="section-phonetics" class='nav-section' label='Fonética'>
            <li class='nav-link nav-phonetics' id='nav-fonetica'>General</li>
        </ul>
        <ul id="section-miscellaneous" class='nav-section' label='Miscelánea'>
            <li class='nav-link nav-miscellaneous' id='nav-guias'>Guías de vocabulario</li>
            <li class='nav-link nav-miscellaneous' id='nav-etimologia'>Etimología</li>
            <li class='nav-link nav-miscellaneous' id='nav-idiosincrasia'>Idiosincrasia</li>
        </ul>
    </ul>
</nav>