<nav>
    <div id='optionsTab'>
        <div id="configMenuTitle">
            <label>⚙️ Menú de configuración</label>
            <label>◀</label>
        </div>
        <div id="configMenu">
            <div class="config-section nav-config">
                <label>Vista previa de palabra</label>
                <div class="config-options">
                    <label><input class="config-radio" type="radio" name="tooltip" value="true">Sí</label>
                    <label><input class="config-radio" type="radio" name="tooltip" value="false">No</label>
                </div>
            </div>
            <div class="config-section nav-config">
                <label>Vista del listado</label>
                <div class="config-options">
                    <label><input class='config-radio' type='radio' name='listing' value='list'>Lista</label>
                    <label><input class='config-radio' type='radio' name='listing' value='tree'>Árbol</label>
                </div>
            </div>
        </div>
    </div>
    <ul id='navLinks'>
        <ul id="section-config" class='nav-section' label='⚙️'></ul>
        <ul id="section-information" class='nav-section' label='Información'>
            <li class='nav-link nav-information' id='nav-'>Inicio</li>
            <li class='nav-link nav-information' id='nav-informacion'>Qué es <i>Balanlàedenug</i></li>
        </ul>
        <ul id="section-dictionary" class='nav-section' label='Diccionario'>
            <li class='nav-link nav-dictionary' id='nav-diccionario'>Búsqueda de palabra</li>
            <li class='nav-link nav-dictionary' id='nav-listado'>Listado de palabras</li>
        </ul>
        <ul id="section-grammar" class='nav-section' label='Manual de idioma'>
            <li class='nav-link nav-manual' id='nav-sustantivos'>Sustantivos</li>
            <li class='nav-link nav-manual' id='nav-verbos'>Verbos</li>
            <li class='nav-link nav-manual' id='nav-adjetivos'>Adjetivos</li>
            <li class='nav-link nav-manual' id='nav-adverbios'>Adverbios</li>
            <li class='nav-link nav-manual' id='nav-pronombres'>Pronombres y artículos</li>
            <li class='nav-link nav-manual' id='nav-adposiciones'>Adposiciones</li>
            <li class='nav-link nav-manual' id='nav-composiciones'>Composiciones, ampliaciones y contracciones</li>
            <li class='nav-link nav-manual' id='nav-sintaxis'>Sintaxis y ortografía</li>
            <li class='nav-link nav-manual' id='nav-fonetica'>Fonética</li>
            <li class='nav-link nav-manual' id='nav-etimologia'>Etimología</li>
            <li class='nav-link nav-manual' id='nav-guias'>Guías de vocabulario</li>
        </ul>
    </ul>
</nav>