<nav>
    <div id='options-tab'>
        <div id="config-menu-title">
            <label>⚙ Menú de configuración</label>
            <label>◀</label>
        </div>
        <div id="config-menu">
            <div id="tooltip-preview" class="config-section">
                <label>Vista previa de palabra</label>
                <div id="tooltip-preview-options" class="config-options">
                    <input id="tooltip-true" class="config-radio config-tooltip" type="radio" name="tooltip-preview" value="true">
                    <label for="tooltip-true">Sí</label>
                    <input id="tooltip-false" class="config-radio config-tooltip" type="radio" name="tooltip-preview" value="false">
                    <label for="tooltip-false">No</label>
                </div>
            </div>
        </div>
    </div>
    <ul id='nav-links'>
        <ul id="section-home" class='nav-section' label='🏠'></ul>
        <ul id="section-dictionary" class='nav-section' label='Diccionario'>
            <li class='nav-link nav-dictionary' id='nav-diccionario'>Búsqueda de palabra</li>
            <li class='nav-link nav-dictionary' id='nav-listado'>Listado de palabras</li>
        </ul>
        <ul id="section-grammar" class='nav-section' label='Gramática'>
            <li class='nav-link nav-grammar' id='nav-sustantivos'>Sustantivos</li>
            <li class='nav-link nav-grammar' id='nav-verbos'>Verbos</li>
            <li class='nav-link nav-grammar' id='nav-adjetivos'>Adjetivos</li>
            <li class='nav-link nav-grammar' id='nav-adverbios'>Adverbios</li>
            <li class='nav-link nav-grammar' id='nav-pronombres'>Pronombres y artículos</li>
            <li class='nav-link nav-grammar' id='nav-adposiciones'>Adposiciones</li>
            <li class='nav-link nav-grammar' id='nav-composiciones'>Composiciones, ampliaciones y contracciones</li>
            <li class='nav-link nav-grammar' id='nav-sintaxis'>Sintaxis y ortografía</li>
        </ul>
        <ul id="section-phonetics" class='nav-section' label='Fonética'>
            <li class='nav-link nav-phonetics' id='nav-fonetica'>General</li>
        </ul>
        <ul id="section-miscellaneous" class='nav-section' label='Miscelánea'>
            <li class='nav-link nav-miscellaneous' id='nav-etimologia'>Etimología</li>
            <li class='nav-link nav-miscellaneous' id='nav-idiosincrasia'>Idiosincrasia</li>
        </ul>
    </ul>
</nav>