<nav>
    <div id='options-tab'>
        <label id='word-count'></label>
    </div>
    <ul id='nav-links'>
        <ul class='nav-section' label='Diccionario'>
            <li class='nav-link' id='nav-diccionario'>Búsqueda de palabra</li>
            <li class='nav-link' id='nav-listado-palabras'>Listado de palabras</li>
        </ul>
        <ul class='nav-section' label='Gramática'>
            <li class='nav-link' id='nav-sustantivos'>Sustantivos</li>
            <li class='nav-link' id='nav-verbos'>Verbos</li>
            <li class='nav-link' id='nav-adjetivos'>Adjetivos</li>
            <li class='nav-link' id='nav-adverbios'>Adverbios</li>
            <li class='nav-link' id='nav-pronombres'>Pronombres y artículos</li>
            <li class='nav-link' id='nav-adposiciones'>Adposiciones</li>
            <li class='nav-link' id='nav-composiciones'>Composiciones y ampliaciones</li>
            <li class='nav-link' id='nav-sintaxis'>Sintaxis y ortografía</li>
        </ul>
        <ul class='nav-section' label='Fonética'>
            <li class='nav-link' id='nav-phonetics'>General</li>
        </ul>
        <ul class='nav-section' label='Miscelánea'>
            <li class='nav-link' id='nav-ethymology'>Etimología</li>
            <li class='nav-link' id='nav-idiosyncrasy'>Idiosincrasia</li>
        </ul>
    </ul>
</nav>