/* Estilos de renderizado de navegadores */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}
  
*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
    border: 2px solid white;
}

/* Estilos generales */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.95em;
    height: 100%;
    overflow: hidden;
    min-width: 340px;
}

button, input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    filter: grayscale(1);
}

nav, section, header, footer {
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 22vh;
    margin: 0.5vh;
    border-radius: 8px;
}

main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 223px;
    height: 67vh;
    margin: 0.5vh;
    margin-bottom: 0;
    border-bottom: none;
    border-bottom-left-radius: 0px;
}

section {
    width: 75vw;
    /* min-width: 650px; */
    margin: 0.5vh;
    height: 73vh;
}

footer {
    display: flex;
    align-items: center;
    width: auto;
    height: calc(6vh - 2px);
    margin: 0.5vh;
    margin-top: 0;
    border-top-left-radius: 0px;
}

.nav-section {
    padding: 0;
    margin-top: 8px;
}

.nav-section:before {
    display: block;
    content: attr(label);
    font-size: 1.5em;
    font-weight: bold;
    color: darkred;
    border-bottom: 1px solid darkred;
}

.nav-link {
    list-style: none;
    font-size: 1.2em;
    margin: 3px auto 3px auto;
    cursor: pointer;
}

.nav-link:hover {
    background-color: indianred;
    color: white;
    transition: ease;
    transition-duration: 100ms;
}

.nav-selected {
    background-color: red;
    color: white;
}

.config-section {
    display: flex;
    justify-content: space-between;
}

.config-options {
    display: flex;
    align-items: center;
}

.config-radio {
    cursor: pointer;
}

.special-character {
    font-size: 1.2em;
    margin: auto 1.5px auto 1.5px;
}

.special-character:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.language-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-option img {
    border-radius: 4px;
}

.result-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-name, .subtype-name {
    margin: 10px 0 5px 0;
}

.word-meaning {
    margin: 12px auto 5px auto;
}

.word-example {
    margin: 0;
    font-style: italic;
    list-style: none;
}

.searched-word, .empty-search {
    padding: 1em;
    border: 1px dashed grey;
    border-radius: 6px;
    margin: 8px;
}

.word-description {
    margin: 0 auto 1em auto;
}

.word-type {
    display: flex;
    align-items: center;
    margin: 0.7em auto 0.4em auto;
}

.word-name {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-end;
}

.favorite-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

li .favorite-icon {
    width: 15px;
    height: 15px;
}

.word-root {
    font-size: 0.8em;
    margin-top: 3px;
    margin-bottom: 12px;
}

.word-meanings {
    margin-bottom: 0;
}

.letter-listing {
    text-align: center;
    cursor: pointer;
    width: 4%;
}

.letter-listing:hover {
    background-color: darkslategray;
    color: white;
}

.letter-selected {
    background-color: black;
    color: white;
}

.listed-word {
    font-size: 1.5em;
    text-align: start;
    cursor: pointer;
}

.listed-word:hover {
    background-color: red;
    color: white;
}

.root-tree {
    list-style: none;
    border: 2px darkred solid;
    border-radius: 4px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin: 4px;
}

.root-tree-title {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    min-height: 22px;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}

.root-tree-title:hover {
    background-color: black;
    color: white;
    transition: 200ms;
    cursor: pointer;
}

.root-tree-title-label:hover {
    background-color: red;
    cursor: pointer;
}

.root-tree-title-label {
    display: flex;
    align-items: center;
}

.root-extra {
    display: flex;
}

.root-amount-group {
    font-style: normal;
    font-weight: normal;
}

.unfold-button {
    margin-left: 6px;
}

.root-word, .composed-word {
    padding-inline-start: 0;
    list-style: none;
    font-size: 1.3em;
}

.root-word-title, .child-word, .composed-word {
    display: none;
}

.compositions {
    padding-inline-start: 0px;
    /* border-top: 2px dashed grey; */
}

.composed-word {
    color: darkslategrey;
}

.root-word-title label:hover, .child-word label:hover, .composed-word label:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.root-word-title::before, .child-word::before, .composed-word::before {
    content: "╟ ";
    text-decoration: none;
    color: black;
}

.child-word::before {
    content: "║ ╟ ";
}

.listing-header {
    border-bottom: 2px darkred solid;
    font-size: 1.1em;
}

.listing-aspect {
    /* font-weight: bold; */
    border-bottom: 1px solid darkgrey;
    margin-top: 4px;
}

.stat-to-fill {
    font-size: 1.3em;
    color: rgb(216, 13, 13);
    border-bottom: 1px solid darkgrey;
}

.tab-btn {
    display: inline;
    border: 1px solid black;
    font-size: 1.1em;
    background-color: white;
    width: 125px;
}

.tab-btn:hover, .tab-selected {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.listing-view-option {
    display: flex;
}

.section-content, .section-title, .section-subtitle, .section-table, .word-type-example {
    margin: 25px;
}

.section-content {
    font-size: 1.1em;
    text-align: justify;
}

.section-title {
    font-size: 1.7em;
    text-decoration: underline;
}

.section-subtitle {
    font-size: 1.3em;
}

.section-example, .word-segmentation {
    display: flex;
    align-items: center;
}

.word-segmentation {
    margin: 0px 20px 10px 23px;
}

.word-segment {
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid darkred;
    border-bottom: none;
    max-height: 25px;
}

.word-segment legend {
    margin: auto;
    max-height: 13px;
}

.word-segment h3 {
    margin: 0;
}

.segment-description {
    list-style: none;
    counter-reset: contador;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.segment-description li {
    counter-increment: contador;
}

.segment-description li::before {
    content: counter(contador) "—> ";
    color: darkred;
    font-weight: bold;
}

.section-table {
    border-spacing: 0px;
    width: 75%;
}

.section-table th {
    background-color: lightgray;
    border: 1px solid darkred;
    padding: 3px;
}

.section-table td {
    background-color: antiquewhite;
    border: 1px solid darkred;
    text-align: center;
    padding: 2px;
}

#nouns-screen, #verbs-screen, #adjectives-screen, #compounds-screen {
    overflow-y: scroll;
}

#flag {
    width: 17vw;
    min-width: 225px;
    height: 100%;
}

#title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#page-title {
    font-size: 30px;
    margin-bottom: 0;
}

#page-subtitle {
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
    font-weight: normal;
}

#coat {
    height: 100%;
    width: 10vw;
    min-width: 120px;
}

#options-tab {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-bottom: 2px solid black;
    padding: 7px;
    border-top-left-radius: 5px;
}

#config-menu-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
    border-radius: 6px;
} #config-menu-title:hover {
    background-color: darkslategray;
    color: white;
}

#config-menu-title label {
    cursor: pointer;
    padding: 3px;
} #config-menu-title label:nth-child(1) {
    width: 100%;
}

#config-menu {
    display: none;
    border-top: solid 1px black;
    padding: 3px;
    margin-top: 3px;
}

#nav-links {
    list-style-type: circle;
    padding: 0 10px 10px 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-y: scroll;

}

#search-screen {
    display: flex;
    flex-direction: column;
}

#search-box {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: lightgrey;
    border-bottom: 2px solid black;
    border-top-left-radius: 8px;
}

#special-characters {
    display: flex;
    align-items: center;
    min-width: 240px;
    padding: 6px 2px 6px 2px;
    margin-right: 15px;
    border: 1px solid darkgrey;
    background-color: white;
}

#language-selection {
    display: flex;
    align-items: center;
    border-left: 1px solid grey;
    margin-left: 5px;
}

#word-subscreen {
    display: flex;
    justify-content: center;
}

#word-search {
    width: 48%;
    font-size: 1.1em;
    border: 1px solid darkgray;
    border-right: none;
}

#perfect-match-container {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    text-align: center;
    background-color: white;
    border: 1px solid darkgray;
    border-left: 1px dashed darkgray;
    margin-right: 15px;
    padding-right: 5px;
}

#search-button {
    width: 25%;
    font-size: 1.1em;
    background-color: darkgrey;
}

#listing-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listing-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#result-stats {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    min-height: calc(6vh - 2px);
    padding-left: 15px;
    padding-right: 15px;
    border-top: 2px solid black;
    border-bottom-left-radius: 6px;
}

#found-words {
    margin: 0px;
}

#letters-box {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 10px 5% 10px 5%;
    width: 90%;
    border-bottom: 2px solid black;
    border-top-left-radius: 8px;
    background-color: lightgray;
}

.info-listing, #listing-stats, #search-result {
    overflow-y: scroll;
    padding: 5px;
    height: 100%;
}

#listing-lowbar {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    border-top: 2px solid black;
    border-bottom-left-radius: 8px;
}

#stats-bar {
    display: flex;
    align-items: center;
    margin: 10px;
}

#listing-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5em;
    text-align: center;
}

#listing-view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    margin: 10px;
}

#favorites-listing {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
}

.favorite-entry {
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

.favorite-title {
    margin: 2px;
}

.favorite-title:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#footer-description {
    font-size: 0.9em;
    max-width: 25vw;
    margin: auto 5px auto 5px;
}

#word-listing #wordTooltip {
    display: none;
    background-color: white;
    border: solid 1px black;
    position: absolute;
    z-index: 1;
    width: 500px;
    padding: 0;
}

#tooltipArrow {
    display: none;
    content: "";
    position: absolute;
    border-width: 7px;
    border-style: solid;
}

#word-listing #wordTooltip .searched-word, #word-listing .searched-word {
    margin: 0;
    border: none;
}

@media only screen and (max-width: 974px) {
    #word-listing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 860px) {
    #listing-lowbar {
        flex-direction: column;
    }

    #listing-view {
        justify-content: flex-start;
        width: 100%;
        margin-top: 0;
    }

    #search-box {
        padding: 0.6em;
    }

    #special-characters {
        min-width: 108px;
        padding: 6px 6px 6px 2px;
        margin-right: 8px;
    }

    #perfect-match-container {
        margin-right: 8px;
    }

    #language-selection {
        border-left: none;
        margin-left: 0px;
    }

    .special-character {
        display: none;
    }
}

@media only screen and (max-width: 719px) {
    header {
        height: 16vh;
    }

    nav {
        height: 73vh;
    }

    section {
        height: 79vh;
    }

    #flag {
        min-width: 170px;
    }

    #coat {
        min-width: 85px;
    }

    #page-title {
        font-size: 26px;
    }
    
    #page-subtitle {
        font-size: 15px;
    }

    #word-listing {
        grid-template-columns: 1fr 1fr;
    }

    #listing-screen {
        min-width: 0;
    }

    .tab-btn {
        width: 105px;
    }
}

@media only screen and (max-width: 659px) {
    header {
        justify-content: center;
    }

    main {
        flex-direction: column;
    }

    section {
        width: auto;
    }

    #nav-wrapper {
        display: none !important;
    }

    #flag, #coat {
        display: none;
    }
}
