/* Estilos de renderizado de navegadores */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}
  
*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
    border: 2px solid white;
}

/* Estilos generales */

body {
    position: relative;
    font-family: Cambria;
    font-size: 0.95em;
    height: 100%;
    overflow: hidden;
    min-width: 360px;
}

button, input, select {
    font-family: Cambria;
}

input, select {
    font-size: 1em;
}

nav, section, header, footer {
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 22vh;
    margin: 0.5vh;
    border-radius: 8px;
}

main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 250px;
    height: 67vh;
    margin: 0.5vh;
    margin-bottom: 0;
    border-bottom: none;
    border-bottom-left-radius: 0px;
}

section {
    width: 75vw;
    /* min-width: 650px; */
    margin: 0.5vh;
    height: 73vh;
    overflow-y: scroll;
}

footer {
    display: flex;
    align-items: center;
    width: auto;
    height: calc(6vh - 2px);
    margin: 0.5vh;
    margin-top: 0;
    border-top-left-radius: 0px;
}

a {
    color: #0645ad;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

footer a img {
    display: none;
}

.nav-section {
    padding: 0;
    margin-top: 8px;
    pointer-events: none;
}

.nav-section:before {
    display: block;
    content: attr(label);
    font-size: 1.5em;
    font-weight: bold;
    color: darkred;
    border-bottom: 1px solid darkred;
}

.nav-section:nth-child(1) {
    display: none;
}

.nav-link {
    list-style: none;
    font-size: 1.2em;
    margin: 3px auto 3px auto;
    cursor: pointer;
    pointer-events: all;
}

.nav-link:hover {
    background-color: indianred;
    color: white;
    transition: ease;
    transition-duration: 100ms;
}

.nav-selected {
    background-color: red;
    color: white;
}

.nav-highlighted {
    font-weight: bold;
}

.config-section {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.config-options {
    display: flex;
    align-items: center;
}

.config-radio {
    cursor: pointer;
}

.centered-main-title {
    font-size: 28px;
    text-align: center;
    margin: 15px auto 5px auto;
}

.special-character {
    font-size: 1.2em;
    margin: auto 1.5px auto 1.5px;
}

.special-character:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.language-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-option img {
    border-radius: 4px;
}

.result-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-name, .subtype-name {
    margin: 10px 0 5px 0;
}

.word-meaning {
    margin: 12px auto 5px auto;
    padding-left: 4px;
}

.definition-paratext {
    font-weight: bold;
    text-decoration: underline;
}

.word-example {
    margin: 0;
    font-style: italic;
    list-style: none;
    padding-left: 4px;
}

.searched-word, .empty-search {
    padding: 1em;
    border: 1px dashed grey;
    border-radius: 6px;
    margin: 8px;
}

.empty-search {
    text-align: center;
}

.word-description {
    margin: 0 auto 1em auto;
}

.word-type {
    display: flex;
    align-items: center;
    margin: 0.7em auto 0.4em auto;
}

.word-name {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-end;
}

.favorite-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

li .favorite-icon {
    width: 15px;
    height: 15px;
}

.no-favorites {
    font-size: 20px;
    margin: 15px auto 0 auto;
}

.word-root {
    font-size: 0.8em;
    margin-top: 3px;
    margin-bottom: 12px;
}

ol.word-meanings {
    margin-bottom: 0;
    padding-inline-start: 1em;
    list-style-type: decimal;
}

li.word-meaning::marker {
    font-weight: bold;
    color: red;
    margin-right: 3px;
}

.letter-listing {
    text-align: center;
    cursor: pointer;
    width: 4%;
    border-radius: 4px;
}

.letter-listing:hover {
    background-color: darkslategray;
    color: white;
}

.letter-selected {
    background-color: black;
    color: white;
}

.letter-stats {
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 0 auto 6px auto;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.listed-word {
    font-size: 1.5em;
    text-align: start;
    cursor: pointer;
}

.listed-word:hover, .searchable-word:hover {
    background-color: red;
    color: white;
}

.root-tree {
    list-style: none;
    border: 2px darkred solid;
    border-radius: 4px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin: 4px;
}

.root-tree.guide {
    margin-left: 25px;
    margin-right: 25px;
}

.root-tree-title {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    min-height: 22px;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}

.root-tree-title.guide {
    font-style: normal;
}

.root-tree-title:hover {
    background-color: black;
    color: white;
    transition: 200ms;
    cursor: pointer;
}

.root-tree-title-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.root-tree-title-label:not(.guide):hover {
    background-color: red;
}

.root-extra {
    display: flex;
}

.root-amount-group {
    font-style: normal;
    font-weight: normal;
}

.unfold-button {
    margin-left: 6px;
}

.root-word, .composed-word {
    padding-inline-start: 0;
    list-style: none;
    font-size: 1.3em;
}

.root-word-title, .child-word, .composed-word {
    display: none;
    margin: 0;
}

.compositions {
    padding-inline-start: 0px;
    /* border-top: 2px dashed grey; */
}

.composed-word {
    color: darkslategrey;
}

.root-word-title label:hover, .child-word label:hover, .composed-word label:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.root-word-title::before, .child-word::before, .composed-word::before {
    content: "╟ ";
    text-decoration: none;
    color: black;
}

.child-word {
    color: rgb(212, 16, 16);
    padding: 0;
    margin: 0;
}

.child-word::before {
    content: "║ ╟ ";
}

.dummy-word {
    color: gray;
    text-decoration: line-through;
    pointer-events: none;
}

.category-header, .category-title, .category-value, .category-percentage {
    z-index: 2;
    height: 45px;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.category-header, .category-entry, .category-back {
    display: flex;
    width: 100%;
    align-items: center;
}

.category-entry {
    position: relative;
}

.category-header {
    border-bottom: 2px darkred solid;
    background-color: #faebd7;
    font-size: 21px;
    font-weight: bold;
}

.category-title {
    border-bottom: 1px solid darkgrey;
    font-size: 22px;
}

.category-value {
    font-size: 29px;
    color: rgb(216, 13, 13);
    border-bottom: 1px solid darkgrey;
}

.category-percentage {
    border-bottom: 1px solid darkgrey;
    font-size: 22px;
}

.category-clickable {
    cursor: pointer;
}

.category-back {
    justify-content: center;
    height: auto;
    padding: 10px 0 10px 0;
}

.category-back-button {
    font-size: 21px;
}

.colorer {
    z-index: 1;
    content: '\A';
    position: absolute;
    background: lightgray;
    top: 0;
    bottom:0;
    left: 0;
    width: 0;
}

.tab-btn {
    display: inline;
    border: 1px solid black;
    font-size: 1.1em;
    background-color: white;
    width: 125px;
}

.tab-btn:hover, .tab-selected {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.section-content, .section-title, #homeTitle, .section-subtitle, .section-minor-title, .section-table, .word-type-example {
    margin: 25px;
}

.section-content {
    font-size: 1.1em;
    text-align: justify;
} .section-content.no-margin {
    margin: 0;
} .section-content.centered-text {
    text-align: center;
}

.section-title {
    font-size: 1.7em;
    text-decoration: underline;
}

.section-title.no-underline {
    text-decoration: none;
}

#homeTitle {
    font-size: 1.85em;
}

.section-subtitle {
    font-size: 1.4em;
}

.section-minor-title {
    font-size: 1.2em;
} .section-minor-title.left {
    margin-left: 0;
} .section-minor-title.less-margin {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

.section-subtitle.closer-bottom {
    margin-bottom: 5px;
}

.section-example, .word-segmentation {
    display: flex;
    align-items: center;
}

.word-segmentation {
    margin: 0px 20px 10px 23px;
}

.word-segment {
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid darkred;
    border-bottom: none;
    max-height: 25px;
}

.word-segment legend {
    margin: auto;
    max-height: 13px;
}

.word-segment h3 {
    margin: 0;
}

.segment-description {
    list-style: none;
    counter-reset: contador;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.segment-description li {
    counter-increment: contador;
}

.segment-description li::before {
    content: counter(contador) "—> ";
    color: darkred;
    font-weight: bold;
}

.section-table {
    border-spacing: 0px;
    width: 75%;
}

.section-table th {
    background-color: lightgray;
    border: 1px solid darkred;
    padding: 3px;
}

.section-table td {
    background-color: antiquewhite;
    border: 1px solid darkred;
    text-align: center;
    padding: 2px;
}

.guide-container {
    display: none;
}

.guide-container:nth-of-type(1) {
    display: block;
}

.error-alert, .success-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 7px;
    margin: 15px 25px 15px 25px;
    min-height: 18px;
    outline: 2px solid darkslategray;
    border-radius: 10px;
}

.error-alert-message, .success-alert-message {
    font-weight: bold;
    font-size: 16px;
}

.error-alert-close, .success-alert-close {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: #ebe4e4;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
    cursor: pointer;
}

.error-alert-close:hover, .success-alert-close:hover {
    background: black;
    color: white;
}

.error-alert {
    background: #f52a2a;
}
.success-alert {
    background: #30d36e;
}

#flag {
    width: 17vw;
    min-width: 225px;
    height: 100%;
}

#titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#pageTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

#pageSubtitle {
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
    font-weight: normal;
}

#coat {
    height: 100%;
    width: 10vw;
    min-width: 120px;
}

#optionsTab {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-bottom: 2px solid black;
    padding: 7px;
    border-top-left-radius: 5px;
}

#configMenuTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 100%;
    border-radius: 6px;
} #configMenuTitle:hover {
    background-color: darkslategray;
    color: white;
}

#configMenuTitle label {
    cursor: pointer;
    padding: 3px;
} #configMenuTitle label:nth-child(1) {
    width: 100%;
}

#configMenu {
    display: none;
    border-top: solid 1px black;
    padding: 3px;
    margin-top: 3px;
}

#navLinks {
    list-style-type: circle;
    padding: 0 10px 10px 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-y: scroll;
}

#homePage .section-title {
    text-align: center;
}

.css-901oao.css-16my406.r-poiln3.r-bcqeeo.r-qvutc0 {
    display: none;
}

#wavingFlagsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

#homeWelcoming {
    margin: 5px 0 5px 25px;
}

.waving-symbol {
    width: 380px;
    max-width: 380px;
}

#othersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 25px auto 25px auto;
}

#visitorsCounterTitle {
    margin: 0 0 5px 0;
}

#contactButtonLink {
    width: 25%;
}

#contactButton {
    width: 100%;
    min-width: 96px;
    min-height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #FF0000;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
}

#contactButton:hover {
    background: #CD5C5C;
}

.portal-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 650px;
    margin: 25px auto 10px auto;
    padding: 20px;
    border: 2px groove darkgray;
    border-radius: 10px;
} .portal-form.wide {
    width: auto;
    max-width: none;
} .portal-form.top {
    margin-top: 0;
}

.portal-form input:not([type=submit]), .portal-form select {
    border: 1px solid black;
    margin-bottom: 12px;
}

.portal-form.portal-recovery {
    display: none;
}

.portal-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.portal-label .greyed {
    color: darkgray;
    font-size: 14px;
    font-weight: normal;
}

.portal-label-info {
    font-weight: normal;
    font-size: 14px;
}

.portal-submit {
    width: 50%;
    min-width: 50px;
    max-width: 350px;
    min-height: 50px;
    font-size: 16px;
    cursor: pointer;
    background: #FF0000;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    margin: 22px auto 0 auto;
}

.portal-submit.upper-corner {
    position: absolute;
    margin: 0;
    top: 10px;
    right: 10px;
    width: 25%;
    min-width: 128px;
    min-height: 38px;
}

.portal-submit:hover {
    background: #CD5C5C;
}

.portal-submit[disabled] {
    background: #a19c9c;
    cursor: default;
}

.portal-submit[disabled]:hover {
    background: #a19c9c;
}

.portal-other-options {
    display: flex;
    justify-content: space-between;
    width: calc(75% + 32px);
    max-width: 650px;
    margin: 0 auto 25px auto;
}

.portal-input {
    width: auto;
}

.portal-input:not([type=submit]).bottom {
    margin-bottom: 0;
}

.portal-link {
    font-size: 14.5px;
    font-weight: bold;
    margin: 0;
} .portal-link.margin-bottom {
    margin-bottom: 10px;
} .portal-link.centered {
    text-align: center;
}

.recovery-link {
    padding: 4px;
    border-radius: 6px;
    background-color: transparent;
    color: #0645ad;
}

.link-selected {
    background-color: darkslategray;
    color: white;
}

.form-divider {
    display: block;
    border: 2px outset red;
    width: 100%;
    margin: 6px auto 12px auto;
} .form-divider.special-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

#passwordStatus, #passwordChangeStatus {
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}

#portalChangePasswordForm form {
    margin-left: 25px;
}

#portalChangePasswordSubmit {
    margin-left: 0;
}

#portalNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background: wheat;
    border-bottom: 2px solid black;
    padding: 8px;
}

#portalNavbarTitle {
    display: none;
    margin-left: 15px;
    margin-bottom: 10px;
}

#portalIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.portal-navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border: 1px solid black;
    border-radius: 24px;
    padding: 8px;
    margin-left: 2px;
    margin-right: 2px;
    width: 97px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.portal-navbar-button:hover {
    background: rgb(248, 231, 133);
    transition: ease-in 0.2s;
}

.portal-navbar-button.selected {
    background: gold;
    transition: ease-in 0.2s;
}

.portal-navbar-icon {
    width: 21px;
    height: 21px;
}

.portal-navbar-label {
    display: block;
    font-size: 12px;
    margin-left: 2px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.portal-section {
    display: none;
    width: auto;
    overflow-y: auto;
    padding: 15px;
    height: 100%;
} 

.portal-section.main .success-alert,
.portal-section.main .error-alert {
    margin-top: 0;
}

.portal-title {
    font-size: 20px;
    text-align: center;
    margin: 0px;
} .portal-title.smaller {
    font-size: 16px;
} .portal-title.larger {
    font-size: 24px;
} .portal-title.red {
    color: red;
}

#portalProfile, #portalID {
    position: relative;
}

#portalProfilePictureContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.portal-identity-picture {
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    border: 1px solid black;
} .portal-identity-picture.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} .portal-identity-picture.no-border {
    border: none;
}

#portalProfilePictureInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

#portalProfileGender {
    margin-bottom: 15px;
}

#portalIDCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 483px;
    height: 254px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-image: url("../img/dnl-fondo.png");
    background-color: transparent;
    background-repeat: repeat;
}

#portalIDCardFlag {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 50px;
    border: 1px solid black;
    border-radius: 4px;
}

#portalIDCardTitle {
    margin: 0 0 13px 2px;
    font-size: 23px;
    font-weight: bold;
    /* text-decoration: underline; */
}

#portalIDCardData {
    display: flex;
    border: 2px ridge slategray;
    border-radius: 6px;
    padding: 1px 0 1px 10px;
}

#portalIDCardPictureContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 2px;
}

#portalIDCardFacts {
    display: flex;
    flex-direction: column;
    width: 371px;
    margin-left: 15px;
}

#portalIDCardRank {
    margin-bottom: 0;
}

#portalIDCardExtra {
    display: flex;
    align-items: center;
}

#portalIDCardBanner {
    width: 100%;
    margin: auto;
}

#portalIDCardNote {
    z-index: 2;
    position: absolute;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
    top: 40px;
}

#portalIDCardBarcode {
    width: 265px;
    height: 55px;
    margin: 20px auto 0 14px;
}

#portalIDCardNumber {
    margin: 8px 0 0 auto;
    padding: 6px;
    border: 2px solid indianred;
    border-radius: 6px;
}

.portal-home-label {
    font-size: 16px;
    margin-bottom: 15px;
} .portal-home-label:last-child {
    margin-bottom: 0;
}

.id-card-label {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
} .id-card-label.small {
    font-size: 14px;
} .id-card-label.centered {
    text-align: center;
}

.portal-id-value {
    color: red;
}

#walletInstalationDescription {
    margin-bottom: 20px;
}

.portal-steps-list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
    font-size: 16px;
}

.portal-steps-list li {
    margin-bottom: 10px;
}

.wallet-container {
    display: flex;
    flex-direction: column;
}

#portalLinkAddress {
    display: none;
    pointer-events: none;
}

#portalWalletBalance {
    margin-bottom: 15px;
}

#walletPaymentContainer {
    display: flex;
    justify-content: space-between;
}

.wallet-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

#walletPaymentButton {
    width: 30%;
    margin: 0;
}

#portalDirectory {
    height: auto;
}

.portal-directory-entry {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color: black;
    border-bottom: 1px dashed red;
    border-radius: 0px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in 0.15s;
    padding: 2px;
    margin-bottom: 4px;
}

.portal-directory-entry:last-of-type {
    margin-bottom: 0;
}

.portal-directory-entry label {
    cursor: pointer;
    width: 44%;
}

.portal-directory-entry label:first-of-type {
    width: fit-content;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid black;
}

.portal-directory-entry:hover {
    background-color: red;
    color: white;
    border-radius: 4px;
}

.portal-directory-label {
    font-size: 15px;
}

.form-button {
    margin: 0;
}

#intermicronationalMemberships, #diplomaticRelationships {
    display: flex;
    flex-direction: column;
    margin: 0 25px 25px 25px;
    padding: 10px;
    width: auto;
    border: 2px solid darkgrey;
    border-radius: 8px;
}

.membership, .relationship {
    display: grid;
    text-align: center;
    align-items: center;
    width: auto;
    grid-template-columns: 13% 30% 40% 17%;
    grid-row-gap: 10px;
}

.foreign-logo {
    width: 100%;
    min-width: 32px;
    max-width: 72px;
}

#diplomaticRelationships .foreign-logo {
    border: 1px solid black;
}

.foreign-name, .foreign-status, .foreign-document {
    font-size: 15px;
}

.foreign-document {
    font-weight: bold;
}

#lawsContainer {
    display: grid;
    margin: 0 25px 15px 25px;
    width: auto;
    font-size: 15px;
    grid-template-columns: 4% 28% 28% 40%;
    grid-column-gap: 5px;
}

#lawsContainer p {
    margin: 3px 0 3px 0;
}

.law-number {
    font-weight: bold;
}

.law-bal {
    text-align: center;
}

.law-bal:not(.header) {
    font-style: italic;
    font-weight: bold;
}

.law-spa {
    text-align: center;
}

.law-explanation {
    text-align: justify;
}

#lawsContainer .bordered {
    border-bottom: 1px solid black;
}

#lawsContainer .centered {
    text-align: center;
}

#searchScreen, #portalDashboard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#searchBox {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: lightgrey;
    border-bottom: 2px solid black;
    border-top-left-radius: 8px;
}

#specialCharacters {
    display: flex;
    align-items: center;
    min-width: 240px;
    padding: 6px 2px 6px 2px;
    margin-right: 15px;
    border: 1px solid darkgrey;
    background-color: white;
}

#languageSelection {
    display: flex;
    align-items: center;
    border-left: 1px solid grey;
    margin-left: 5px;
}

#wordSubscreen {
    display: flex;
    justify-content: center;
}

#wordSearch {
    width: 48%;
    font-size: 1.1em;
    border: 1px solid darkgray;
    border-right: none;
}

#perfectMatchContainer {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid darkgray;
    border-left: 1px dashed darkgray;
    margin-right: 15px;
    padding-right: 5px;
}

#perfectMatchContainer label {
    font-size: 0.7em;
}

#searchButton {
    width: 25%;
    font-size: 1.1em;
    background-color: darkgrey;
}

#listingScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 0 !important;
}

#listingSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results-bar {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    min-height: calc(6vh - 2px);
    padding-left: 15px;
    padding-right: 15px;
    border-top: 2px solid black;
    border-bottom-left-radius: 6px;
}

.results-text {
    font-size: 15px;
    margin: 0px;
}

#lettersBox {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 9px 5% 8px 5%;
    width: 90%;
    border-bottom: 2px solid black;
    border-top-left-radius: 8px;
    background-color: lightgray;
}

.info-listing, #listingStats, #searchResult {
    overflow-y: auto;
    padding: 5px;
    height: 100%;
}

#listingLowbar {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-top: 2px solid black;
    border-bottom-left-radius: 8px;
}

#statsBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#listingStats {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 1.5em;
    padding: 0;
}

#favoritesListing {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
}

#datasheetScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dataIndex {
    padding: 6px;
    padding-inline-start: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.data-index-link {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.data-index-link a {
    color: black;
    text-decoration: none;
}

#dataText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    margin: 12px;
    margin-right: 0;
}

.data-grey-container {
    border: 1px solid grey;
    background: #e9e2e2;
    margin-bottom: 5vh;
}

.data-grey-container:last-of-type {
    margin-bottom: 6px;
}

.data-main-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px dotted gray;
    margin: 12px 0 0 0;
}

.data-main-text {
    margin: 5px 5px 5px 0;
    font-size: 16px;
}

.data-main-text br {
    content: "";
    display: block;
    margin-bottom: 8px;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding: 12px;
}

#dataTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    padding: 5px 3px 3px 3px;
}

.data-table-section {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.data-table-fact {
    display: flex;
    justify-content: space-between;
    margin: 4px 2px 4px 2px;
}

.data-table-fact p {
    margin: 0;
}

.data-table-fact p:nth-child(1) {
    font-weight: bold;
}

#dataName {
    text-align: center;
    margin-top: 0;
}

#dataName p {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

p#dataTranslatedName {
    font-size: 18px;
    margin-bottom: 5px;
}

#dataOriginalName {
    font-style: italic;
    font-size: 15px;
}

#dataOriginalName span, #dataNationalHolidayValue span {
    font-style: normal;
    font-weight: normal;
}

#dataNationalSymbols {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dataFlag {
    text-align: center;
    width: 55%;
}

#dataBanner {
    text-align: center;
    width: 35%;
}

#dataFlag p, #dataBanner p {
    margin: 3px 0 0 0;
    font-size: 12px;
}

#dataFlag img {
    width: 100%;
}

#dataBanner img {
    width: 100%;
}

#dataMotto, #dataAnthem {
    text-align: center;
}

#dataMotto p, #dataAnthem p {
    margin-bottom: 0;
    margin-top: 0;
    font-style: italic;
    font-size: 15px;
}

#dataMotto p:nth-child(2), #dataAnthem p:nth-child(2) {
    font-style: normal;
}

#dataMotto p span, #dataAnthem p span {
    font-style: normal;
}

#dataFacts {
    display: flex;
    flex-direction: column;
}

#dataLanguageValue, #dataNationalHolidayValue {
    font-style: italic;
}

.fact-title {
    width: 45%;
    word-break: break-word;
}

.fact-value {
    width: 55%;
    word-break: break-word;
}

.data-image-container {
    padding: 8px 8px 0 8px;
    height: fit-content;
    text-align: center;
}

.data-image-container img {
    width: 100%;
}

.double-image-container {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
}

.data-image-container .double-image-container img.double-image {
    width: 50%;
}

.data-image-container.coat img {
    max-width: 185px;
}

.data-image-container p {
    margin: 4px 0 8px 0;
}

p.no-search {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 12px 10% 8px 10%;
}

.favorite-entry {
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

.favorite-title {
    margin: 2px;
}

.favorite-title:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#footerDescription {
    font-size: 0.9em;
    max-width: 25vw;
    margin: auto 5px auto 5px;
}

#wordTooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: solid 1px black;
    position: absolute;
    z-index: 1;
    width: 500px;
    padding: 0;
}

#tooltipArrow {
    display: none;
    content: "";
    position: absolute;
    border-width: 7px;
    border-style: solid;
}

#wordListing #wordTooltip .searched-word,
#guidesScreen #wordTooltip .searched-word {
    margin: 0;
    border: none;
}

#householdContainer {
    position: relative;
}

#householdImage {
    width: 564px;
    height: 417px;
    margin: 5px;
}