<section id='adjectivesScreen'>
    <h1 class='section-title'>Adjetivos</h1>
    <div class='section-example'>
        <div class='word-segmentation'>
            <fieldset class='word-segment'><h3>Ljwkeg</h3><legend>1</legend></fieldset>
            <fieldset class='word-segment'><h3>es</h3><legend>2</legend></fieldset>
        </div>
        <ol class='segment-description'>
            <li>Pieza sustantiva o pronominal.</li>
            <li>Sufijo modificador.</li>
        </ol>
    </div>
    <p class='section-content'>
        Este tipo de palabra es la encargada de describir y modificar las propiedades de los sustantivos.
        Si bien el adjetivo no existe como tal en el idioma libraterrense, es apropiada su categorización
        independiente para poder interpretarlos de la misma manera que en otras lenguas, como la española. <u>Los
        adjetivos nacen a partir de un sustantivo o un pronombre, sobre el cual se adjunta el poderoso sufijo 'es'</u>,
        una herramienta muy amplia que denota una connotación similar a "hace alusión a". En consecuencia, <u>se puede tomar cualquier 
        pieza sustantiva en número singular (común o modificada) o pronominal y generar su respectivo adjetivo</u>. 
        En este sentido, por medio de la nueva finalidad sintáctica que brinda el sufijo que le convierte en adjetivo,
        esta palabra pierde el eje del número y género sobre el que giran en torno los otros componentes de la oración, y el mismo
        se sitúa sobre el sustantivo al que apunta el adjetivo. El empleo de esta clase de vocablo
        es muy conveniente para reducir la cantidad de palabras, omitir preposiciones y recortar longitudes.
    </p>
    <h2 class='section-subtitle'>Clasificación</h2>
    <p class='section-content'>
        Si bien la construcción promedio de un adjetivo nace de la unión de un sustantivo con el sufijo 'es',
        este sufijo también puede aplicarse sobre otros tipos de palabras. Al mismo tiempo, esta tampoco es
        la única posibilidad para llegar a los adjetivos; algunos pronombres no requieren sufijo alguno para
        actuar como tales, y otras palabras incluso llevan sufijos diferentes para funcionar semánticamente de la
        misma manera. A continuación se explaya cada ejemplo:
    </p>
    <table class='section-table'>
        <tr>
            <th>Calificativos<br><label style='font-weight: normal;'>(sust. comunes + 'es')</label></th>
            <th>Relacionales<br><label style='font-weight: normal;'>(sust. comunes + 'es')</label></th>
            <th>Posesivos comunes<br><label style='font-weight: normal;'>(pron. personales + 'es')</label></th>
            <th>Posesivos propios<br><label style='font-weight: normal;'>(nombres + ''es')</label></th>
        </tr>
        <tr>
            <td><i>Ljwkeges kefjeg</i><br>"Persona feliz"</td>
            <td><i>Täkenajes fejfegon</i><br>"Oración interrogante"</td>
            <td><i>Öles wajdàj</i><br>"Mi cumpleaños"</td>
            <td><i>Balanlàedenug'es laedenlàejreg</i><br>"Himno de Libraterra"</td>
        </tr>
        <tr>
            <td><i>Wärteges grüfug</i><br>"Café negro"</td>
            <td><i>Towlajuges köloreg</i><br>"Color metálico"</td>
            <td><i>Kjaes sjfjànördnug</i><br>"Su reloj"</td>
            <td><i>Walèrja'es öndkĵgeg</i><br>"Casa de Valeria"</td>
        </tr>
        <tr>
            <th>Cardinales<br><label style='font-weight: normal;'>(sust. numerales)</label></th>
            <th>Ordinales<br><label style='font-weight: normal;'>(sust. numerales + 'es')</label></th>
            <th>Partitivos<br><label style='font-weight: normal;'>(sust. numerales + 'fülweg')</label></th>
            <th>Múltiplos<br><label style='font-weight: normal;'>(sust. numerales + 'üskjl')</label></th>
        </tr>
        <tr>
            <td><i>Ëjwt kefjegen</i><br>"Ocho personas"</td>
            <td><i>Tjötrjes grüfug</i><br>"Decimotercer café"</td>
            <td><i>Trjfùlweg</i><br>"Tercio"</td>
            <td><i>Töùskjl</i><br>"Duplo"</td>
        </tr>
        <tr>
            <td><i>Trjtjö futajen</i><br>"Treinta herramientas"</td>
            <td><i>Fjres glaekèfjeg</i><br>"Cuarto/a novio/a"</td>
            <td><i>Tjötöfùlweg</i><br>"Doceavo"</td>
            <td><i>Ejwtùskjl</i><br>"Óctuplo"</td>
        </tr>
        <tr>
            <th>Demostrativos<br><label style='font-weight: normal;'>(pron. demostrativos)</label></th>
            <th>Gentilicios<br><label style='font-weight: normal;'>(país + 'es')</label></th>
        </tr>
        <tr>
            <td><i>Klaej laekug</i><br>"Esta comida"</td>
            <td><i>Sølwlàedenuges kefjeget</i><br>"Niño/a argentino/a"</td>
        </tr>
        <tr>
            <td><i>Traej laejreg</i><br>"Aquella/esa música"</td>
            <td><i>Wajsjonlàedenuges wuljgaj</i><br>"Planta japonesa"</td>
        </tr>
    </table>
</section>