<section id='articles-screen'>
    <table class='section-table'>
        <tr>
            <th rowspan='2'>Persona/Número y género</th>
            <th>Singular</th>
            <th colspan='3'>Plural</th>
        </tr>
        <tr>
            <th>Genérico</th>
            <th>Masculino</th>
            <th>Femenino</th>
            <th>Neutro</th>
        </tr>
        <tr>
            <th>Primera</th>
            <td><i>Öl</i><br>"Yo"</td>
            <td><i>Ölugen</i><br>"Nosotros (hombres)"</td>
            <td><i>Ölajn</i><br>"Nosotras"</td>
            <td><i>Ölegen</i><br>"Nosotros (mixto)"</td>
        </tr>
        <tr>
            <th>Segunda</th>
            <td><i>Kon</i><br>"Tú/vos" o "Usted"</td>
            <td><i>Konugen</i><br>"Ustedes (hombres)"</td>
            <td><i>Konajn</i><br>"Ustedes (mujeres)"</td>
            <td><i>Konegen</i><br>"Ustedes (mixto)"</td>
        </tr>
        <tr>
            <th>Tercera</th>
            <td><i>Kjae</i><br>"Él" o "Ella"</td>
            <td><i>Kjaeugen</i><br>"Ellos (hombres)"</td>
            <td><i>Kjaejn</i><br>"Ellas"</td>
            <td><i>Kjaegen</i><br>"Ellos (mixto)"</td>
        </tr>
    </table>
</section>