<section id='compounds-screen'>
    <h1 class='section-title'>Composiciones</h1>
    <div class='section-example'>
        <div class='word-segmentation'>
            <fieldset class='word-segment'><h3>Fejfegonur</h3><legend>1</legend></fieldset>
            <fieldset class='word-segment'><h3>aur</h3><legend>2</legend></fieldset>
            <fieldset class='word-segment'><h3>kĵgeg</h3><legend>3</legend></fieldset>
        </div>
        <ol class='segment-description'>
            <li>Componente modificado (aquí sustantivo).</li>
            <li>Componente común (siempre una raíz).</li>
            <li>Componente prevalente (aquí sustantivo).</li>
        </ol>
    </div>
    <p class='section-content'>
        Un recurso habitual dentro de la lengua <i>balanlàedenuges</i> es la que permite <u>agrupar o asociar
        dos o más palabras para crear un vocablo compuesto</u>. Esta construcción
        léxica combina los significados de las palabras implicadas, derivando en un concepto nuevo y diferente. 
        Para llevar a cabo esto, se toma solamente <u>la raíz significante en caso de tratarse de un sustantivo común o un verbo común,
        o toda la palabra en el caso de los adverbios, sustantivos modificados y verbos ampliados</u> (para absorber todo su significado), y a continuación
        se <u>unifica con la totalidad de otro sustantivo o verbo</u> (de cualquier tipo). La jerarquía en la integración de los 
        conceptos para incidir en el compuesto es de fin a principio (al revés al español y muy similar al inglés). 
        Es decir, el concepto prevalente será el que quede al final del nuevo elemento. Si bien no es incorrecto hacer uso
        de los adjetivos dentro de esta metodología, se desalienta totalmente puesto que con utilizar el sustantivo que
        le da pie ya es suficiente, y además se ahorran valiosos caracteres. Aquí se exponen algunos ejemplos:
    </p>
    <table class='section-table'>
        <tr>
            <th>Primer componente</th>
            <th>Segundo componente</th>
            <th>Tercer componente</th>
            <th>Palabra compuesta</th>
        </tr>
        <tr>
            <td><i>Kefjeg</i><br>"Persona"</td>
            <td><i>Fjaler</i><br>"Beber"</td>
            <td><i>Blödug</i><br>"Sangre"</td>
            <td><i>Blödfjalkèfjeg</i><br>"Vampiro"</td>
        </tr>
        <tr>
            <td><i>Kjgeg</i><br>"Lugar"</td>
            <td><i>Aurag</i><br>"Reunión, congregación"</td>
            <td><i>Fejfegonur</i><br>"Textos, libros"</td>
            <td><i>Fejfegonuraurkĵgeg</i><br>"Biblioteca"</td>
        </tr>
        <tr>
            <td><i>Laedejug</i><br>"Tierra, suelo"</td>
            <td><i>Dawegeg</i><br>"Altura"</td>
            <td style='background-color: wheat;'>-</td>
            <td><i>Daweglàedejug</i><br>"Montaña"</td>
        </tr>
    </table>
    <hr>
    <h1 class='section-title'>Ampliaciones</h1>
    <div class='section-example'>
        <div class='word-segmentation'>
            <fieldset class='word-segment'><h3>Grägajaf</h3><legend>1</legend></fieldset>
            <fieldset class='word-segment'><h3>ar</h3><legend>2</legend></fieldset>
        </div>
        <ol class='segment-description'>
            <li>Sustantivo modificado.</li>
            <li>Sufijo verbal obligatorio (amplía).</li>
        </ol>
    </div>
    <p class='section-content'>
        Como las palabras compuestas o modificadas generan una idea y significado nuevos, podríamos decir que eso a su vez
        conlleva a la creación de otra raíz significante nacida a partir de sus predecesoras. Esto implica que, al igual que
        cualquier otro sustantivo o verbo originado de una raíz, <u>puede ser objeto de sufijos modificadores que
        afecten su significado</u> (en segunda instancia). Solo en estos casos será posible encontrar más de un ejemplar del
        mismo sufijo modificador dentro del sustantivo (aunque estarán separados, uno modificando a un componente simple y 
        el otro al componente prevalente). Si bien puede prestar a la confusión y a la ambigüedad que ese sufijo modificador
        en realidad esté afectando al componente prevalente y no al compuesto total, de cualquier manera estará haciendo
        ambas cosas. Sea como fuera, el ejercicio del habla social se encargará de impartir la acepción convencional.
        Asimismo, es <u>posible ampliar verbalmente el compuesto</u> (aun si fuera un sustantivo sin sufijos modificadores y terminado
        con un sufijo simple de género) para fundar una acción distinta, agregando el sufijo que correspondiera según la 
        familia del sustantivo modificado o del compuesto prevalente. Esta lista revela algunos de todos esos casos:
    </p>
    <table class='section-table'>
        <tr>
            <th>Palabra compuesta</th>
            <th>Composición modificada</th>
            <th>Composición ampliada a verbo</th>
        </tr>
        <tr>
            <td><i>Kojwkèfjeg</i><br>"Dios, diosa"</td>
            <td><i>Kojwkèfjeg<b>ur</b></i><br>"Panteón divino"</td>
            <td style='background-color: wheat;'>Inexistente</td>

        </tr>
        <tr>
            <td><i>Knawsfàejug</i><br>"Mortalidad"</td>
            <td><i>Knawsfàejug<b>af</b></i><br>"Inmortalidad"</td>
            <td><i>Knawsfàejug<b>afar</b></i><br>"Inmortalizar"</td>
        </tr>
        <tr>
            <td><i>Kaenjàgaj</i><br>"Hielo"</td>
            <td><i>Kaenjàgaj<b>on</b></i><br>"Glaciar"</td>
            <td><i>Kaenjàgaj<b>ar</b></i><br>"Congelar"</td>
        </tr>
    </table>
</section>