<section id='search-screen'>
    <div id='search-box'>
        <div id='special-characters'>
            <label style='margin-left: 5px;' class='special-character'>à</label>
            <label class='special-character'>è</label>
            <label class='special-character'>ĵ</label>
            <label class='special-character'>ò</label>
            <label class='special-character'>ù</label>
            <label class='special-character'>ä</label>
            <label class='special-character'>ë</label>
            <label class='special-character'>ö</label>
            <label class='special-character'>ü</label>
            <label class='special-character'>ø</label>
            <div id='language-selection'>
                <input id='language-bal' class='language' name='language' type='radio' checked>
                <label class='language-option' for='language-bal'>
                    <img src='/client/img/flag.png' alt='BAL' width='32' draggable="false">
                </label>
                <input id='language-esp' class='language' name='language' type='radio'>
                <label class='language-option' for='language-esp'>
                    <img src='/client/img/flag2.png' alt='ESP' width='32' draggable="false">
                </label>
            </div>
        </div>
        <input id='word-search' type='text' placeholder="Buscar una palabra...">
        <div id="perfect-match-container">
            <label for="perfect-match">Resultado exacto</label>
            <input id="perfect-match" type="checkbox" name="perfect-match">
        </div>
        <button id='search-button'>Buscar</button>
    </div>
    <div id='search-result'>
        
    </div>
    <div id='result-stats'>
        <p id='found-words'>Coincidencias:</p>
    </div>
</section>
<script>
    var rawDictionary = "<%= retrievedResults %>";
    var dictionary = JSON.parse(rawDictionary.replace(/&#34;/g, String.fromCharCode(34)).replace(/&#39;/g, String.fromCharCode(39)));
</script>