<%- include('./partials/global-variables.ejs') %>
<section id='searchScreen'>
    <div id='searchBox'>
        <div id='specialCharacters'>
            <label style='margin-left: 5px;' class='special-character'>à</label>
            <label class='special-character'>è</label>
            <label class='special-character'>ĵ</label>
            <label class='special-character'>ò</label>
            <label class='special-character'>ù</label>
            <label class='special-character'>ä</label>
            <label class='special-character'>ë</label>
            <label class='special-character'>ö</label>
            <label class='special-character'>ü</label>
            <label class='special-character'>ø</label>
            <div id='languageSelection'>
                <input id='language-bal' class='language' name='language' type='radio' checked>
                <label class='language-option' for='language-bal'>
                    <img src='/client/img/flag.png' alt='BAL' width='32' draggable="false">
                </label>
                <input id='language-esp' class='language' name='language' type='radio'>
                <label class='language-option' for='language-esp'>
                    <img src='/client/img/flag2.png' alt='ESP' width='32' draggable="false">
                </label>
            </div>
        </div>
        <input id='wordSearch' type='text' placeholder="Buscar una palabra...">
        <div id="perfectMatchContainer">
            <label for="perfect-match">Resultado exacto</label>
            <input id="perfect-match" type="checkbox" name="perfect-match">
        </div>
        <button id='searchButton'>Buscar</button>
    </div>
    <div id='searchResult'>
        
    </div>
    <div id='resultStats' class="results-bar">
        <p class="results-text"></p>
    </div>
</section>