<%- include('./partials/global-variables.ejs') %>
<section id='listing-screen'>
    <!-- <%- include('./partials/listing-topbar.ejs') %> -->
    <div class='info-listing' id='listing-stats'>
        
    </div>
    <%- include('./partials/listing-bottombar.ejs') %>
</section>