<%- include('./partials/global-variables.ejs') %>
<section id='listingScreen'>
    <!-- <%- include('./partials/listing-topbar.ejs') %> -->
    <div class='info-listing' id='listingStats'>
        
    </div>
    <%- include('./partials/listing-bottombar.ejs') %>
</section>