<section id='listingScreen'>
    <div class='info-listing' id='favoritesListing'>
        
    </div>
    <%- include('./partials/listing-bottombar.ejs') %>
</section>
<%- include('./partials/global-variables.ejs') %>