<section id='listing-screen'>
    <div class='info-listing' id='favorites-listing'>
        
    </div>
    <%- include('./partials/listing-bottombar.ejs') %>
</section>
<%- include('./partials/global-variables.ejs') %>