<section id='guides-screen'>
    <h1 class='section-title'>Guías de vocabulario</h1>
    <p class="section-content">
        Por medio de este apartado se proveerán numerosas guías interactivas sobre
        distintos ámbitos de la vida cotidiana y/o el conocimiento humano, con su
        correspondiente vocabulario y sus respectivas traducciones al idioma
        libraterrense:
    </p>

    <h2 class='section-subtitle'>Mapa mundial</h2>

    <div id="map-container">
        <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
        <link href="../client/res/map/svgMap.css" rel="stylesheet" />
        <script src="../client/res/map/svgMap.js"></script>

        <div id="svgMapCountryNames"></div>
      </div>
</section>