<section id="home-screen">
    <h1 id='home-title'>Qué es Balanlàedenug</h1>
    <p class='section-content'>
        <b><i>Balanlàedenug</i></b> (Libraterra, en español) es un <a href="https://es.wikipedia.org/wiki/Pa%C3%ADs_imaginario" target="_blank">país imaginario</a>
        de características históricas y culturales inspiradas en los sajones y los nórdicos.
        Al igual que muchos otros pares dentro de este universo, la existencia de este país
        se limita a los confines de la (muy amplia) mente, y a lo sumo entra en la realidad
        a través del ejercicio de los corazones de quienes lo componen.
        <br><br>
        Emplazada en algún lugar de Europa central, la nación acarrea numersos siglos de
        existencia y se jacta del tradicionalismo de su composición. Se organiza gubernamentalmente
        como un Gran Ducado, institución monárquica que es regida por <i>Kones <a href="/diccionario/Dawegaj?lang=bal&limit=1">Dawegaj</a> Walèrja I</i>.
        Encuentra capital en el Castillo Real de la susodicha soberana, que no se encuentra en
        ninguna ciudad.
        <br><br>
        En sintonía con esa curiosidad, los dominios de la corona son extensos,
        en buena medida inhóspitos, y como consecuencia la tasa de habitantes por kilómetro
        cuadrado es bajísima. Lejos de que ello represente una problemática poblacional,
        los libraterrenses han sabido organizarse en comunidades no mayores a un pueblo en
        términos de tamaño y masividad. Esa estructura garantiza el orden y la privacidad, dos
        estandartes de la cultura nacional, y la misma ha perdurado desde su instauración.
        Esto repercute en dotar a los lugareños la fama de respetuosos, serenos y hospitalarios.
        <br><br>
        Sobre su geografía y su clima, en estas tierras predomina una tundra algo yerma y regular.
        Generalmente la vegetación es escasa pero existen bosques perennes atravesados por ríos
        fríos y poco caudalosos. Libraterra está, a su vez, casi circunscripta por hilos de montañas
        frescas y de buena altura. En cuanto a tempertaura, el sol golpea tímidamente las pieles en
        verano, y la nieve cubre por completo los tejados de montaña en invierno. Es una configuración
        muy desoladora, difícil para muchos y adorada por algunos.
        <br><br>
        Pero un componente protagonista de su historia es el <b>idioma</b>. El <i>balanlàedenuges</i> toma
        características de los idiomas escandinavos por un lado, y esencias del inglés y el alemán
        por el otro. Su lógica es rígida, y los únicos cambios que ha padecido son las incorporaciones
        de extranjerismos para elementos contemporáneos. Este sitio web se encargará de entrar en los
        mayores detalles posibles de esta lengua.
    </p>
</section>