<section id='homePage'>
    <h1 class='section-title no-underline'>¡Les damos la bienvenida al sitio web oficial de Libraterra!</h1>
    <div id="wavingFlagsContainer">
        <img class="waving-symbol" src="../client/img/wavingFlag.gif" alt="Bandera flameando">
        <p id="homeWelcoming" class="section-content">
            Nos resulta muy grato contar con su presencia aquí, la que ha sido determinada por el <a class="searchable-word" onclick='handler.searchWord("Fatjgeg", "bal", 1)'><i>fatjgeg</i></a>.
            Encontrarán en esta web la más completa información de este pintoresco país imaginario al
            que todos sus tantos ciudadanos tenemos el honor de poder llamar hogar. 
            Somos un pueblo firme y resiliente que ha sabido luchar cuando se le convocaba, y también escrito la paz
            cuando era la mejor opción.
            Acarreamos una historia de orgullo, respeto y progreso, con su inevitable cuota de momentos oscuros que lamentamos,
            pero siempre yendo firmes hacia el <a class="searchable-word" onclick='handler.searchWord("Balanug", "bal", 1)'><i>balanug</i></a>.
            Uno de los rasgos más originales de nuestra cultura es el <a class="searchable-word" onclick='handler.searchWord("Balalàedenuges", "bal", 1)'><i>balalàedenuges</i></a>,
            nuestra querida lengua nativa. Podrán obtener acceso al diccionario, listado completo de palabras y guías educativas.
            Sin más preámbulos, sean cordialmente <a href="./informacion">invitados a descubrirnos</a>.
            <br><br>
            <b>Krug. Ramiro, Asesor de Gobierno</b>
        </p>
    </div>
    <div id="othersContainer">
        <div id="visitorsCounterContainer">
            <h2 id="visitorsCounterTitle" class='section-subtitle closer-bottom'>Registro de visitantes</h2>
            <a id="visitorsCounter" href="https://info.flagcounter.com/CES0"><img src="https://s01.flagcounter.com/count2/CES0/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_3/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
        </div>
        <a href="mailto:balanlaedenug@gmail.com"><button id="contactButton">Contacto</button></a>
    </div>
</section>