<section id='datasheetScreen'>
    <div id="dataText">
        <ol id="dataIndex" class="data-grey-container">
            <li class="data-index-link"><a href="#dataMainSection1">Gobierno y política</a></li>
            <li class="data-index-link"><a href="#dataMainSection2">Cultura y demografía</a></li>
            <li class="data-index-link"><a href="#dataMainSection3">Geografía</a></li>
            <li class="data-index-link"><a href="#dataMainSection4">Economía</a></li>
            <li class="data-index-link"><a href="#dataMainSection5">Infraestructura</a></li>
        </ol>
        <p class="data-main-text">
            <b>Libraterra</b> (en libraterrense, <i><b>Balanlàedenug</b></i>) o de forma abreviada
            <b>GTB</b>, oficialmente <b>Gran Ducado de Libraterra</b> (en libraterrense, 
            <i><b>Gërteg tjl Balanlàedenug</b></i>), es un <a href="https://es.wikipedia.org/wiki/Pa%C3%ADs_imaginario" target="_blank">país imaginario</a>
            emplazado en algún lugar ficticio del norte de Europa central. Su territorio
            soberano no está definido de manera exacta, pero los esbozos históricos lo sitúan
            en una región de extensión aproximada a 80.000 km² que comprende una posición adyacente a las naciones
            de Alemania, Dinamarca, Suecia y Polonia, con los cuales compartiría frontera.
            Además, dada su ubicación, tendría acceso al Mar Báltico y posiblemente también al Mar del Norte.
        </p>
        <p id="dataMainSection1" class="data-main-title">Gobierno y política</p>
        <p class="data-main-text">
            El Estado libraterrense adopta como forma de gobierno una <a href="https://es.wikipedia.org/wiki/Monarqu%C3%ADa_absoluta" target="_blank">monarquía absoluta</a> a
            la clásica aunque con ciertos matices de diferencia, como ser la derivación de
            parte del poder centralizado a algunas instituciones secundarias pero sin llegar a implicar
            una divisón real de poderes. Como fundamento esencial, coloca en la cúspide de la estructura a la Gran Duquesa, noble investidura
            hereditaria que ha de ser cargada por Walèrja I, primera soberana en materializar la corona libraterrense.
            La sucesión de este título monárquico no distingue sexo, y por consecuencia tanto el primogénito como la primogénita
            son elegibles para adquirir la corona de sus progenitores en ejercicio llegado su deceso (o abdicación). Ante una eventual nulidad de opciones,
            la familia que inaugure una nueva <a href="https://es.wikipedia.org/wiki/Dinast%C3%ADa" target="_blank">dinastía</a> quedará sujeta a la decisión del soberano o soberana regente por
            medio de una declaración por testamento. En caso de que esto no haya sido posible de definir en vida, será el Asesor de Gobierno quien opte por un miembro de la nobleza libraterrense para que ocupe el trono.
            <br>Siguiendo la línea hacia abajo, aparece justamente esta última figura, que es un rol designado por la Gran Duquesa y que representa
            un actor político que confiere conocimiento y consejería en materia de legislación,
            ejecución y diplomacia, todas labores con responsabilidad de la <i>Gërtaj</i>. El actual funcionario en desempeño es Krug. Ramiro, quien
            acompaña a Walèrja I desde el comienzo de su ascenso. Pueden a su vez existir otros
            ministros para diferentes áreas y con labores más específicas, pero ninguno con la simbología que tiene el Asesor, prácticamente mano derecha de la Corona.<br>Por fuera de los mencionados niveles de poder,
            todo aquel individuo que no pertenezca a la realeza (la familia real integrante de la dinastía actual)
            es considerado un súbdito de la Corona y, como tal, está reducido a la sumisión a la ley libraterrense,
            la cual es regulada y dictada por la Gran Duquesa. La definición de este contrato implica la disposición
            total del súbdito al Estado cuando se le requiera para trabajo estatal, reclutamiento militar (eso incluye
            a las mujeres) y encomiendas en el extranjero, entre otras necesidades que surgieran.<br>Como contracara, los impuestos y el deber tributario son casi inexistentes,
            y el <i>Gërteg</i> no tiene ningún tipo de poder sobre la tierra y la propiedad privada (como reza la cuarta ley
            valeriana absoluta: "<i>Waej laedenug göljkàj tjsälk waej kefjegen</i>", o "la tierra es libre como la gente/las personas").
            En ese sentido, el <i>laedenug</i> nunca puede estar sobre el <i>laedenug</i>, tanto en el ámbito privado como en el público y la
            interacción de ambos (en rigor, porque esa distinción como tal está bastante desdibujada). Tal es así que la conformación interna del Estado goza de montones de cláusulas de autonomía y libertad
            en la soberanía de la tierra, y la organización territorial implica la delimitación de los <i>laedenuget</i>, equivalentes casi directos
            a lo que sería un estado en una confederación. Pero este <i>status</i> le otorga al gobierno subnacional una soberanía
            total sobre la tierra pública que le corresponda, donde sólo primarán por encima de la voluntad regional las leyes valerianas absolutas.
        </p>
        <p id="dataMainSection2" class="data-main-title">Cultura y demografía</p>
        <p class="data-main-text">
            En Libraterra prolifera un concepto de <a href="https://es.wikipedia.org/wiki/Pluralismo_cultural" target="_blank">mosaico o pluralismo cultural</a>
            en el que convergen numerosas ascendencias, no en el rasgo de la composición social sino
            en el del historial cultural. Fundamentalmente, el código social tiene una fuerte connotación
            <a href="https://es.wikipedia.org/wiki/Pueblo_saj%C3%B3n" target="_blank">sajona</a>, y como tal
            tiene características muy similares a la de Alemania o el Reino Unido, u otros países de la Europa central
            occidental. El canon arquitectónico, por ejemplo, combina toques nórdicos, alpinos y germánicos, resultando en una
            bella fusión de madera y piedra que en todo momento inteligentemente hace simbiosis con el ambiente frío y nevado.
            La dieta alimenticia libraterrense recibe también influencia eslava por cercanía, y es rica en carnes, harinas, dulces y alcohol,
            con la cerveza y el vodka como exponentes principales.
            Esa misma consigna de diversidad se imprime también en el idioma nacional, el cual a su vez se ve fuertemente afectado
            por incidencias escandinavas, alemanas y hasta celtas producto de un complejo entramado histórico que deviene de migraciones
            y guerras por el territorio.<br>
            En contraposición a la heterogeneidad de esos aspectos, la sociedad libraterrense ha conseguido un sentimiento de clara
            unidad e igualdad gracias a los fructíferos esfuerzos de imponer un fuerte nacionalismo en la época de la conformación
            del Estado, cuando todavía los países vecinos se disputaban el acceso a las tierras de la (aún no proclamada) Corona.
            Mismo la imposición de una monarquía absoluta ha contribuido a que se eleve la rigurosidad y el hermetismo de dicho objetivo. 
            Por consecuencia, la identidad libraterrense es uniforme, y capta un código universal de costumbres bajo el ala de los símbolos patrios
            y sus significados. Esto, junto al hecho acompañante y casualmente circunstancial de que en términos de fenotipo la población
            es en su enorme mayoría blanca caucásica, deriva en un grupo étnico casi absoluto. Solo un muy bajo porcentaje de pequeñas
            comunidades inmigrantes reducidas termina de componer la sociedad.<br>
            En términos de fe, si bien rige la libertad de culto, el Estado es <a href="https://es.wikipedia.org/wiki/Laicismo" target="_blank">laico</a> y pregona ese principio. A raíz de ello, casi no existen
            instituciones religiosas, y los pocos centros de esta índole están muy desparramados por el territorio. De más está decir que los
            practicantes son muy escasos, y en términos porcentuales representan cerca del 6 por 100. Sin embargo, sí hay una distinguida presencia
            de características mitólogicas que se difuden de manera generalizada en la población en forma de historias, leyendas, cuentos y
            fábulas que, aparte de enriquecer la literatura nacional, actúan como marcadores de formación personal en la sociedad. Estos se nutren
            de clásicos símbolos nórdicos y eslavos que moldean deidades y entidades muy similares a los de esas culturas.
        </p>
        <p id="dataMainSection3" class="data-main-title">Geografía</p>
        <p class="data-main-text">
            La geografía del país es compleja, ya que se dota de tundras frías y algo secas que
            preponderan en los dominios, pero al mismo tiempo este accidente hegemónico
            está circunvalado por escarpadas formaciones cordilleranas que tocan en promedio los 4.000 metros
            de altura sobre el nivel del mar y desde las cuales brotan helados ríos de deshielo que fluyen en descenso
            hacia tierras más fértiles y aptas para agroganadería. Existen antiguos bosques verdes perennes en las
            inmediaciones de estas últimas, siendo frondosos y con el pino como la especie más difundida.
            Al mismo tiempo hay presencia de playas en los extremos norte y este, las cuales son rocosas y carentes
            de vegetación a lo largo de la mayoría de su extensión. Así, todos estos componentes otorgan una dinámica totalmente mixta
            en la naturaleza del país.
            <br>Por una confluencia de factores geográficos y geológicos, en Libraterra no existe el verano como tal,
            y en buena parte del año las temperaturas son templadas y en otra aún mayor son casi polares. De hecho,
            se han registrado valores tan bajos como -20 °C, y en los momentos más calurosos alcanza un tope de apenas
            21 °C. El nivel de precipitaciones es uno de los más altos de la región y algo similar ocurre con el caso de las nevadas,
            que cerca de las montañas pueden devenir en un fenómeno peligroso de avalanchas.
            <br>En otro punto, la densidad poblacional en el país es muy baja, ya que dentro del vasto territorio abundan las aldeas y caseríos
            que oscilan entre los 10 y los 200 habitantes en promedio, mientras que la cantidad de pueblos y ciudades es mínima, y por ende
            la cantidad de espacios sin intervención humana es muy destacable. También es una práctica muy habitual que,
            a partir de cierta edad, individuos o matrimonios se dirijan a las montañas o a la tundra solitaria a erigir su cabaña.
            Estos datos en parte argumentan a su vez la muy baja <a href="https://es.wikipedia.org/wiki/Tasa_bruta_de_natalidad" target="_blank">tasa de natalidad</a> que tiene Libraterra, la cual en cada censo
            desciende aún más y va en sintonía con las cifras regionales europeas. Otra tasa baja, al ser comparada tanto en el ranking
            zonal como el global, es la de mortalidad infantil, gracias a la gran infraestructura de salud que posee el país para la
            protección del neonato (y de sus habitantes en general). Al mismo tiempo, el <a href="https://es.wikipedia.org/wiki/Producto_interno_bruto" target="_blank">PIB</a>
            per cápita de Libraterra está dentro del mejor par de decenas de puestos del planeta, y explica por sí solo datos relacionados como
            la altísima tasa de <a href="https://es.wikipedia.org/wiki/Alfabetizaci%C3%B3n" target="_blank">alfabetización</a> nacional, la cómoda
            <a href="https://es.wikipedia.org/wiki/Esperanza_de_vida" target="_blank">esperanza de vida</a> general que supera los 78 años, la
            <a href="https://es.wikipedia.org/wiki/Pir%C3%A1mide_de_poblaci%C3%B3n" target="_blank">pirámide poblacional</a> en fase de envejecimiento
            (adicionalmente, algo desequilibrada del lado masculino), y la considerable cifra que ostenta la <a href="https://es.wikipedia.org/wiki/Nupcialidad" target="_blank">tasa de nupcialidad</a>,
            también muy vinculada a factores socioculturales. Otro dato curioso y relacionado es uno que acompaña a la tendencia mundial, tratándose de la ventaja
            en varios puntos pocentuales que tiene la cantidad de población femenina por sobre su contraparte masculina.
        </p>
        <p id="dataMainSection4" class="data-main-title">Economía</p>
        <p class="data-main-text">
            Las producción económica de <i>Balanlàedenug</i> es muy diversa, y se destaca principalmente dentro de las esferas de las actividades
            <a href="https://es.wikipedia.org/wiki/Sector_primario" target="_blank">primarias</a> y las <a href="https://es.wikipedia.org/wiki/Sector_servicios" target="_blank">terciarias</a>.
            En el primer caso, maneja una amplia extensión de la tierra fértil para el cultivo de diferentes granos y
            ganado bovino y porcino, especialmente para producción lechera (solo vaca) pero también para faenado. En un porcentaje menor, el resto
            del suelo es utilizado para cultivo de frutas y vegetales, y también se destina a la producción apícola y vitivinícola (es decir, miel y vino, respectivamente).
            Saliendo de los campos, el país complementariamente invierte mucho capital en la explotación forestal consciente, con la producción maderera y la
            recolección de frutos secos y hongos (exclusivamente para exportación). Aprovecha al mismo tiempo los ríos para la pesca, y el salmón de Libraterra
            se jacta de una gran reputación entre los consumidores limítrofes. En otra rama diferente, una peculiaridad productiva, y que no es algo muy frecuente en el mundo,
            tiene que ver con la extracción de pigmentos y colorantes naturales provenientes de plantas, resinas y otros componentes de la naturaleza, algo que la nación obtiene en buenas cantidades.
            <br>En cuanto a la otra categoría de actividades, ya dentro de los servicios, al país le resulta vital la promoción y mantenimiento del
            turismo. La presencia hotelera, y de gran calidad, es notoria en todos los puntos turísticos de renombre, habiendo montones de ellos y de gran diversidad.
            La tradición hospitalaria y afectuosa de los lugareños contribuye a que los turistas se sientan bien acogidos e ingresen divisas a las arcas nacionales.
            Complementariamente, la importancia que se deposita en la cultura y el arte en Libraterra es un rasgo muy distintivo. La inversión estatal en este rubro está
            consolidada y repercute así en la fundación de numerosos museos, galerías e institutos centrados en la creación y difusión del conocimiento y las tradiciones
            nacionales. Estos establecimientos reciben enormes afluencias de turistas cada año y simbolizan un sello auténtico de las actividades típicas que se pueden realizar
            aquí, mismo incluso para los nativos, que por lo general tienen muy inculcada la afición por el arte. Los cines y los teatros, que si bien son de origen extranjero
            pero son muy comunes, no dejan de captar la atención y el interés de la población libraterrense con gran fervor.
            <br>En otro sentido, la moneda del país es la corona libraterrense (de símbolo monetario BK$), una divisa de gran valoración dentro de Europa. Se usa de manera generalizada
            en todo el territorio nacional y se expande incluso hasta países vecinos que reciben influencia de y tienen cooperación con Libraterra. La moneda tiene un manojo de denominaciones
            tanto en papel billete como en moneda metálica (desde BK$0,25 hasta BK$50), y todas llevan impreso el rostro de la Gran Duquesa Walèrja I en una de las caras o lados, y en el anverso
            poseen algún elemento histórico nacional, como símbolos patrios, monumentos, personalidades populares, obras reconocidas y hasta edificaciones públicas.
        </p>
        <p id="dataMainSection5" class="data-main-title">Infraestructura</p>
        <p class="data-main-text">
            Existe en <i>Balanlàedenug</i> una destacada inversión y desarrollo en obras públicas para la infraestructura nacional. En primer lugar, una extendida red de trenes expresos clásicos
            cubre el territorio a lo largo y a lo ancho, atravesando las pocas ciudades libraterrenses y un gran porcentaje de los tantos caseríos y poblados pequeños que abundan. El tren es
            considerado un identificador nacional, y adrede posee características anticuadas (aunque adaptadas por motivos ecológicos) con un fin nostálgico y artístico, propio de la estética
            libraterrense en general. Esta mega ingeniería de transporte ayuda a mantener comunicada a la población que vive tan distante entre sí, y ni hablar sobre cómo facilita el traslado
            de las producciones económicas y el rol que juega en el turismo. Son casi una decena de líneas de media y larga distancia las encargadas de satisfacer estos objetivos, y varias de ellas
            incluso se conectan con países vecinos. Todos tienen diferentes niveles de categoría, pasando desde asientos cama como el más bajo hasta camarotes privados con baño propio, y tienen
            vagones especiales con sala de lectura, de avistaje exterior cómodo, y de juegos de mesa comunitarios. Una segunda mecánica de transporte muy difundida es la de los vuelos en avión,
            cuantificando de todas maneras un valor mucho menor que el del tren. Existen tres aeropuertos dentro del territorio nacional, y tienen principalmente la funcionalidad de conectar
            a los libraterrenses con los países vecinos y no tan cercanos.
            <br>La comunicación es un aspecto muy importante en Libraterra, y rige una política de Estado que dictamina directrices universales para preservar la calidad comunicativa hacia el
            pueblo sin que eso implique morigerar la libertad de expresión sana que está garantizada por la ley universal valeriana. En rigor, consiste en la obligatoriedad de verificación de la información
            que se masificará, en la condena al discurso de odio y violencia hacia una persona o grupo específicos, y en el respeto y la honra de los valores nacionales y de la patria en general. La propia
            Corona mantiene canales públicos de información, como su propia radio, canal de televisión, periódico de papel y digital, y recientemente ha comenzado a incursionarse en los medios más novedosos
            de transmisión, como las redes sociales, para abrir el espectro informativo hacia el extranjero. En un sentido similar, el Correo Libraterrense maneja la correspondencia de todo tipo, y continúa
            siendo un método de preferencia a manos del propio Estado y de la población universal.
            <br>En materia de energía, la producción para consumo eléctrico hogareño e industrial es totalmente mixta. Las principales fuentes de generación energética se concentran en las variantes
            alternativas y más ecológicas. La obtención eólica y la mareomotriz son las más destacadas, y un escalón un poco más abajo está la solar (las condiciones no son las más favorables para que
            prolifere esta opción), las tres equivaliendo a aproximadamente un 60% de la producción eléctrica. El porcentaje restante se completa con la utilización de carbón y petróleo, aunque ya
            está en marcha un plan estatal para terminar de abolir esas metodologías contaminantes y pasar a tener un consumo nacional de energía absolutamente verde.
        </p>
        <br>
    </div>
    <div class="data-container">
        <div id="dataTable" class="data-grey-container">
            <div id="dataName" class="data-table-section">
                <p id="dataTranslatedName">Gran Ducado de Libraterra</p>
                <p id="dataOriginalName">Gërteg tjl Balanlàedenug<br><span>(libraterrense)</span></p>
            </div>
            <div id="dataNationalSymbols" class="data-table-section">
                <div id="dataFlag">
                    <img src="../public/img/flag.png" alt="Bandera">
                    <p>Bandera</p>
                </div>
                <div id="dataBanner">
                    <img src="../public/img/banner.png" alt="Estandarte">
                    <p>Estandarte</p>
                </div>
            </div>
            <div id="dataMotto" class="data-table-section">
                <p id="dataMottoOriginal"><span>Lema: </span>Tör waej rjnlug, waej wjljnaj</p>
                <p id="dataMottoTranslated">(en libraterrense: "Con el cuerpo, la libertad")</p>
            </div>
            <div id="dataAnthem" class="data-table-section">
                <p id="dataAnthemOriginal"><span>Himno: </span>Knöjan waej Kaenaj</p>
                <p id="dataAnthemTranslated">(en libraterrense: "Sobre la Nieve")</p>
            </div>
            <div id="dataFacts">
                <div id="dataCapital" class="data-table-fact">
                    <p id="dataCapitalTitle" class="fact-title">Capital</p>
                    <p id="dataCapitalValue" class="fact-value">Castillo de la Gran Duquesa</p>
                </div>
                <div id="dataLanguage" class="data-table-fact">
                    <p id="dataLanguageTitle" class="fact-title">Idioma oficial</p>
                    <p id="dataLanguageValue" class="fact-value">Balanlàedenuges</p>
                </div>
                <div id="dataDemonym" class="data-table-fact">
                    <p id="dataDemonymTitle" class="fact-title">Gentilicio</p>
                    <p id="dataDemonymValue" class="fact-value">Libraterrense</p>
                </div>
                <div id="dataGovernment" class="data-table-fact">
                    <p id="dataGovernmentTitle" class="fact-title">Forma de gobierno</p>
                    <p id="dataGovernmentValue" class="fact-value">Monarquía absoluta*</p>
                </div>
                <div id="dataSovereign" class="data-table-fact">
                    <p id="dataSovereignTitle" class="fact-title">Gran Duquesa</p>
                    <p id="dataSovereignValue" class="fact-value">Walèrja I</p>
                </div>
                <div id="dataNationalHoliday" class="data-table-fact">
                    <p id="dataNationalHolidayTitle" class="fact-title">Fecha patria</p>
                    <p id="dataNationalHolidayValue" class="fact-value">Balandàj <span>(23 de agosto)</span></p>
                </div>
                <div id="dataCurrency" class="data-table-fact">
                    <p id="dataCurrencyTitle" class="fact-title">Moneda</p>
                    <p id="dataCurrencyValue" class="fact-value">Corona libraterrense (BK$)</p>
                </div>
                <div id="dataTimezone" class="data-table-fact">
                    <p id="dataTimezoneTitle" class="fact-title"><a href="https://es.wikipedia.org/wiki/Huso_horario" target="_blank">Huso horario</a></p>
                    <p id="dataTimezoneValue" class="fact-value"><a href="https://es.wikipedia.org/wiki/Tiempo_universal_coordinado" target="_blank">UTC + 1</a></p>
                </div>
                <div id="dataCountryCode" class="data-table-fact">
                    <p id="dataCountryCodeTitle" class="fact-title"><a href="https://es.wikipedia.org/wiki/ISO_3166" target="_blank">Código ISO</a></p>
                    <p id="dataCountryCodeValue" class="fact-value">BG | GTB | 823</p>
                </div>
                <div id="dataHighestPoint" class="data-table-fact">
                    <p id="dataHighestPointTitle" class="fact-title">Punto más alto</p>
                    <p id="dataHighestPointValue" class="fact-value"><i>Dl. Wjtegssug</i></p>
                </div>
                <div id="dataNationalAnimal" class="data-table-fact">
                    <p id="dataNationalAnimalTitle" class="fact-title">Animal nacional</p>
                    <p id="dataNationalAnimalValue" class="fact-value">Cuervo</p>
                </div>
                <div id="dataNationalFlower" class="data-table-fact">
                    <p id="dataNationalFlowerTitle" class="fact-title">Flor nacional</p>
                    <p id="dataNationalFlowerValue" class="fact-value">Cala</p>
                </div>
                <div id="dataMemberships" class="data-table-fact">
                    <p id="dataMembershipsTitle" class="fact-title">Membresías</p>
                    <p id="dataMembershipsValue" class="fact-value">Ninguna</p>
                </div>
            </div>
        </div>
        <div class="data-grey-container data-image-container">
            <img src="../public/img/village.png" alt="pintura">
            <p>Pintura al óleo de un pequeño <i>laedenug</i> familiar, con un puñado de casas típicas libraterrenses. (Autor desconocido)</p>
        </div>
        <div class="data-grey-container data-image-container coat">
            <img src="../public/img/coat.png" alt="escudo">
            <p>Escudo de la <i>Kefjegur tjlaej Balanlàedenuges Ljngeg</i> (Sociedad del Idioma Libraterrense),
            ente encargado de documentar y regular la lengua nacional.</p>
        </div>
        <div class="data-grey-container data-image-container">
            <div class="double-image-container">
                <img class="double-image" src="../public/img/portrait1.png" alt="retrato">
                <img class="double-image" src="../public/img/portrait2.png" alt="retrato">
            </div>
            <p>
                Retratos de finales del período medieval de dos <i>Kröndwgrägajafkèfjeg</i> (arqueros cuervo), unidades militares de tribus que por entonces habitaron la actual Libraterra.
                Se teoriza que siglos más tarde inspiraron la incorporación de dos conceptos como símbolos patrios: el arco y el cuervo.
            </p>
        </div>
        <div class="data-grey-container data-image-container">
            <img src="../public/img/portrait3.png" alt="soldado">
            <p>Fotografía restaurada de un arquero moderno libraterrense ensayando un tiro en un campamento del bando aliado durante la <a href="https://es.wikipedia.org/wiki/Segunda_Guerra_Mundial" target="_blank">Segunda Guerra Mundial</a>.</p>
        </div>
        <div class="data-grey-container data-image-container">
            <img src="../public/img/wavingBanner.gif" alt="estandarte">
            <p>Estandarte de la Corona libraterrense, con el blasón de la dinastía valeriana. Corresponde izarse en un mástil horizontal y solo puede lucirse en propiedades de la Corona.</p>
        </div>
        <div class="data-grey-container data-image-container">
            <img src="../public/img/compass.png" alt="brújula">
            <p>Ideología de Estado libraterrense, según cálculos y datos recabados por acciones políticas. El resultado es una postura muy de centro con ligeros tonos de conservadurismo social y progresismo económico.</p>
        </div>
    </div>
</section>