<section id='listing-screen'>
    <div id='letters-box'>
        <label class='letter-listing'>A</label>
        <label class='letter-listing'>B</label>
        <label class='letter-listing'>D</label>
        <label class='letter-listing'>E</label>
        <label class='letter-listing'>F</label>
        <label class='letter-listing'>G</label>
        <label class='letter-listing'>J</label>
        <label class='letter-listing'>K</label>
        <label class='letter-listing'>L</label>
        <label class='letter-listing'>O</label>
        <label class='letter-listing'>R</label>
        <label class='letter-listing'>S</label>
        <label class='letter-listing'>T</label>
        <label class='letter-listing'>U</label>
        <label class='letter-listing'>W</label>
    </div>
    <div class='info-listing' id='word-listing'>
        
    </div>
    <div class='info-listing' id='listing-stats'>
    
    </div>
    <div id='listing-lowbar'>
        <div id='stats-bar'>
            <div id='tab-btns'>
                <button class='tab-btn'>Listado</button>
                <button class='tab-btn'>Estadísticas</button>
            </div>
        </div>
        <div id='listing-view'>
            <p style='margin: 0;font-weight: bold;'>
                Vista:
            </p>
            <label class='listing-view-option'>
                <input class='listing-view' type='radio' name='listing-view' value='list'>
                Lista
            </label>
            <label class='listing-view-option'>
                <input class='listing-view' type='radio' name='listing-view' value='tree'>
                Árbol
            </label>
        </div>
    </div>
</section>