<section id='listingScreen'>
    <%- include('./partials/listing-topbar.ejs') %>
    <div class='info-listing' id='wordListing'>
        <%- include('./partials/tooltip.ejs') %>
    </div>
    <%- include('./partials/listing-bottombar.ejs') %>
</section>
<%- include('./partials/global-variables.ejs') %>