<section id='portalDashboard'>
    <!-- Navbar -->
    <div id="portalNavbar">
        <h3 id="portalNavbarTitle" class="section-minor-title less-margin"></h3>
        <div id="portalIcons">
            <button class="portal-navbar-button"><img class="portal-navbar-icon" src="../client/img/home.png" alt="Inicio"><label class="portal-navbar-label">Inicio</label></button>
            <button class="portal-navbar-button"><img class="portal-navbar-icon" src="../client/img/id-card.png" alt="Documento"><label class="portal-navbar-label">Identidad</label></button>
            <button class="portal-navbar-button"><img class="portal-navbar-icon" src="../client/img/activity.png" alt="Actividad"><label class="portal-navbar-label">Actividad</label></button>
            <button class="portal-navbar-button"><img class="portal-navbar-icon" src="../client/img/wallet.png" alt="Monedero"><label class="portal-navbar-label">Monedero</label></button>
            <button class="portal-navbar-button"><img class="portal-navbar-icon" src="../client/img/messages.png" alt="Mensajes"><label class="portal-navbar-label">Mensajes</label></button>
            <button class="portal-navbar-button"><img class="portal-navbar-icon" src="../client/img/directory.png" alt="Directorio"><label class="portal-navbar-label">Directorio</label></button>
            <form class="form-button" action="/cerrar-sesion" method="post"><button id="portalLogoutButton" class="portal-navbar-button" type="submit"><img class="portal-navbar-icon" src="../client/img/logout.png" alt="Salir"><label id="portalLogoutLabel" class="portal-navbar-label">Salir</label></button></form>
        </div>
    </div>

    <!-- Pestañas -->
    <div id="portalHomeSection" class="portal-section main">
        <p id="portalWelcomeTitle"></p>
        <div class="portal-form wide">
            <label class="portal-home-label" id="portalCitizenshipStatus"></label>
            <label class="portal-home-label" id="portalRankStatus"></label>
        </div>
    </div>

    <div id="portalIdentitySection" class="portal-section main">
        <form id="portalProfile" class="portal-form wide" action="/actualizar-perfil" method="post">
            <input id="portalProfileSubmit" class="portal-submit upper-corner" type="submit" value="Actualizar datos">
            <h3 class="section-minor-title less-margin left">Foto personal</h3>
            <div id="portalProfilePictureContainer">
                <img id="portalIdentityPicture" class="portal-identity-picture" src="" alt="Foto">
                <div id="portalProfilePictureInputContainer">
                    <label for="portalProfilePicture" class="portal-label">Ruta de imagen</label>
                    <input id="portalProfilePicture" class="portal-input" type="text" name="profilePicture" placeholder="Insertar URL de imagen externa">
                </div>
            </div>
            <h3 class="section-minor-title less-margin left">Datos de identidad</h3>
            <label for="portalProfileName" class="portal-label">Nombre completo</label>
            <input id="portalProfileName" class="portal-input" type="text" name="name" required>
            <label class="portal-label" for="portalProfileGender">Género</label>
            <select id="portalProfileGender" class="portal-input" name="gender" placeholder="Hombre" autocomplete="sex" required>
                <option value="man">Hombre</option>
                <option value="woman">Mujer</option>
                <option value="nonbinary">No binario</option>
            </select>
            <h3 class="section-minor-title less-margin left">Datos de contacto</h3>
            <label for="portalProfileEmail" class="portal-label">Correo electrónico</label>
            <input id="portalProfileEmail" class="portal-input" type="email" name="email" disabled>
            <label for="portalProfileTwitter" class="portal-label">Usuario de Twitter</label>
            <input id="portalProfileTwitter" class="portal-input" type="text" name="twitter">
            <label for="portalProfileDiscord" class="portal-label">Usuario de Discord</label>
            <input id="portalProfileDiscord" class="portal-input bottom" type="text" name="discord">
        </form>

        <div id="portalID" class="portal-form wide">
            <button id="portalIDDownload" class="portal-submit upper-corner">Descargar</button>
            <h3 class="section-minor-title less-margin left">Documento de Identidad</h3>
            <div id="portalIDCard">
                <img id="portalIDCardFlag" src="../client/img/flag.png" alt="Bandera">
                <p id="portalIDCardTitle">Gërteg tjl Balanlàedenug | Kefjeg ID</p>
                <div id="portalIDCardData">
                    <div id="portalIDCardPictureContainer">
                        <label class="id-card-label small centered">Lajtrĵgëlug:</label>
                        <img id="portalIDCardPicture" class="portal-identity-picture" src="" alt="Foto">
                    </div>
                    <div id="portalIDCardFacts">
                        <label id="portalIDCardName" class="id-card-label"></label>
                        <label id="portalIDCardGender" class="id-card-label"></label>
                        <label id="portalIDCardBirthdate" class="id-card-label"></label>
                        <label id="portalIDCardCountry" class="id-card-label"></label>
                        <label id="portalIDCardRank" class="id-card-label"></label>
                    </div>
                </div>
                <div id="portalIDCardExtra">
                    <div class="portal-identity-picture flex no-border">
                        <img id="portalIDCardBanner" src="../client/img/banner-transparent.png" alt="Estandarte">
                        <label id="portalIDCardNote" class="id-card-label">Alentaj<br>tjlaej<br>Gërtaj</label>
                    </div>
                    <img id="portalIDCardBarcode" src="../client/img/barcode.gif" alt="Barras">
                    <label id="portalIDCardNumber" class="id-card-label"></label>
                </div>
            </div>
        </div>
    </div>

    <div id="portalActivitySection" class="portal-section main">
       En construcción.
    </div>

    <div id="portalWalletSection" class="portal-section main">
        En construcción.
    </div>

    <div id="portalMessagesSection" class="portal-section main">
        En construcción.
    </div>

    <div id="portalDirectorySection" class="portal-section main">
        En construcción.
    </div>
</section>