<section id='foreignPage'>
    <h2 class='section-subtitle'>Tratados intermicronacionales</h2>
    <p class='section-content'>
        El Gran Ducado de Libraterra traslada la siguiente documentación diplomática al campo
        del dominio público, a fines de dar conocimiento de sus relaciones exteriores y, en muchos
        casos, de cumplimentar con los incisos que suponen la divulgación de esta información.
        Se incluyen en esta sección tanto los tratados y cualquier tipo de cooperación con otras
        micronaciones, como información sobre adhesión a instituciones y órganos supramicronacionales.
    </p>
    <h3 class="section-minor-title">Membresías en organizaciones intermicronacionales</h3>
    <div id="intermicronationalMemberships">
        <div class="membership">
            <img class="foreign-logo" src="../public/img/omu.png" alt="OMU">
            <label class="foreign-name"><a href="https://omu-foro.forosactivos.net/" target="_blank">Organización de Micronaciones Unidas (OMU)</a></label>
            <label class="foreign-status">Miembro pleno</label>
            <label class="foreign-document"><a href="https://omu-foro.forosactivos.net/t2169-solicitud-de-ingreso-del-gran-ducado-de-libraterra" target="_blank">Visitar</a></label>
        </div>
    </div>
    <h3 class="section-minor-title">Relaciones diplomáticas con micronaciones</h3>
    <div id="diplomaticRelationships">
        <div class="relationship">
            <img class="foreign-logo" src="../public/img/triduoria.png" alt="Triduoria">
            <label class="foreign-name"><a href="https://sites.google.com/view/triduoria" target="_blank">Estado Libre de Triduoria</a></label>
            <label class="foreign-status">Tratado de Reconocimiento Mutuo y Cooperación</label>
            <label class="foreign-document"><a href="../public/doc/TRI001.pdf" target="_blank">Descargar</a></label>

            <img class="foreign-logo" src="../public/img/eldorado.png" alt="El Dorado">
            <label class="foreign-name"><a href="https://eldoradogov.wixsite.com/estadodeeldorado" target="_blank">Estado Social de El Dorado</a></label>
            <label class="foreign-status">Tratado de Paz, Amistad, Alianza y Reconocimiento Mutuo</label>
            <label class="foreign-document"><a href="../public/doc/DOR001.pdf" target="_blank">Descargar</a></label>

            <img class="foreign-logo" src="../public/img/eskeria.png" alt="Eskeria">
            <label class="foreign-name"><a href="http://gobiernoeskeria.wixsite.com/oficial" target="_blank">Gran Ducado de Eskeria</a></label>
            <label class="foreign-status">Tratado de Relaciones Diplomáticas</label>
            <label class="foreign-document"><a href="../public/doc/ESK001.pdf" target="_blank">Descargar</a></label>

            <img class="foreign-logo" src="../public/img/valumar.jpg" alt="Valumar">
            <label class="foreign-name"><a href="https://valumar.blogspot.com/" target="_blank">Principado de Valumar</a></label>
            <label class="foreign-status">Tratado de Amistad, Colaboración y Reconocimiento Mutuo</label>
            <label class="foreign-document"><a href="../public/doc/VAL001.pdf" target="_blank">Descargar</a></label>

            <img class="foreign-logo" src="../public/img/zaerrion.png" alt="Zaerrion">
            <label class="foreign-name"><a href="https://sites.google.com/view/republica-de-zaerrion/inicio" target="_blank">República de Zaerrion</a></label>
            <label class="foreign-status">Tratado de Total Paz y Reconocimiento</label>
            <label class="foreign-document"><a href="../public/doc/ZAR001.jpg" target="_blank">Descargar</a></label>
        </div>
    </div>
</section>