<section id='verbs-screen'>
    <h1 class='section-title'>Verbos</h1>
    <div class='section-example'>
        <div class='word-segmentation'>
            <fieldset class='word-segment'><h3>Gölj</h3><legend>1</legend></fieldset>
            <fieldset class='word-segment'><h3>kàj</h3><legend>2</legend></fieldset>
            <fieldset class='word-segment'><h3>-ökjlugafer</h3><legend>3</legend></fieldset>
            <fieldset class='word-segment'><h3>es</h3><legend>4</legend></fieldset>
        </div>
        <ol class='segment-description'>
            <li>Prefijo adverbial o sustantivo conjugador.</li>
            <li>Raíz significante (incluye sufijo infinitivo salvo exceptuados).</li>
            <li>Adjunción verbal complementaria.</li>
            <li>Sufijo de participio.</li>
        </ol>
    </div>
    <p class='section-content'>
        El verbo es la palabra encargada de plasmar una acción relacionada al sustantivo y, la mayor parte 
        de las veces, concatenarla con una consecuencia o un destino. Este tipo de vocablo <u>se erige por medio 
        de la unión de una raíz signficante con un sufijo de infinitivo</u>, elementalmente. A eso puede agregársele,
        además, <u>un prefijo adverbial para conjugarlo</u> y sacarlo del infinitivo, o <u>una adjunción verbal para crear
        un equivalente a la frase verbal</u> en español. Los verbos carecen de carga de número y género, y dependen
        del sustantivo y de los pronombres para encontrar e incorporar implícitamente esa información. Existen dos sufijos de infinitivo
        en los verbos, <u>uno más asociado a los sustantivos femeninos y otro más a los sustantivos masculinos y
        neutros</u>, aunque no se trata de una regla estandarizada.
    </p>
    <h2 class='section-subtitle'>Sufijación reglamentaria</h2>
    <p class='section-content'>
        En cuanto a los sufijos, los verbos deben <u>poseer obligatoriamente un sufijo de infinitivo que permita
        detectarlos y distinguirlos de los sustantivos</u>. En esencia, <u>hay dos variantes
        para implementar esta regla</u>, aunque no suponen ningún tipo de diferencia. El fin de esa diferenciación 
        es lograr heterogeneidad en el lenguaje y mayores posibilidades léxicas a la hora de construir estas palabras.
        No existe una categoría oficial, pero los verbos de uso más generalizado suelen estar exceptuados de cumplir
        con este requisito. En esta tabla se puede ver el empleo más común de estos sufijos:
    </p>
    <table class='section-table'>
        <tr>
            <th>Raíz significante</th>
            <th>Sustantivo de la raíz</th>
            <th>Verbo de la raíz</th>
        </tr>
        <tr>
            <td><i>Awal</i></td>
            <td><i>Awal<b>aj</b></i><br>"Luna"</td>
            <td><i>Awal<b>ar</b></i><br>"Dormir"</td>
        </tr>
        <tr>
            <td><i>Balan</i></td>
            <td><i>Balan<b>ug</b></i><br>"Equilibrio"</td>
            <td><i>Balan<b>er</b></i><br>"Equilibrar"</td>
        </tr>
        <tr>
            <td><i>Jagn</i></td>
            <td><i>Jagn<b>eg</b></i><br>"Vida, ciclo"</td>
            <td><i>Jagn<b>ar</b></i><br>"Vivir"</td>
        </tr>
        <tr>
            <td><i>Wüjk</i></td>
            <td><i>Wüjk<b>ug</b></i><br>"Deseo, aspiración"</td>
            <td><i>Wüjk</i><br>"Desear, querer"</td>
        </tr>
    </table>
    <h2 class='section-subtitle'>Conjugación</h2>
    <p class='section-content'>
        Muchos idiomas tienen un sistema de sufijos específicos para indicar el tiempo de la conjugación verbal.
        No es el caso del libraterrense, el cual <u>funciona con prefijos que son literalmente adverbios de tiempo 
        o sustantivos relacionados con dicho tópico o incluso con modos</u>, antepuestos al verbo de la misma forma que un componente (aunque no se trata de tal). De esta manera, técnicamente podría haber tantos tiempos como adverbios
        o sustantivos convenientes. No obstante, la convención toma una manojo puntual y los oficializa como conjugadores.
        Por supuesto que son opcionales, y se aplican para darle movilidad al verbo y sacarlo de la versión infinitiva.
        Aquí se observa una tabla que explica los tiempos verbales y las conjugaciones:
    </p>
    <table class='section-table'>
        <tr>
            <th rowspan='2' style='background-color: rgb(132, 161, 190);'>Formas<br>impersonales</th>
            <th>Infinitivo<br><label style='font-weight: normal;'>(terminado en <i>ar</i> o <i>er</i>)</label></th>
            <th>Participio<br><label style='font-weight: normal;'>(+ <i>es</i>)</label></th>
            <th>Gerundio<br><label style='font-weight: normal;'>(+ <i>gul</i>)</label></th>
        </tr>
        <tr>
            <td><i>Glaer</i><br>"Amar"</td>
            <td><i>Glaeres</i><br>"Amado"</td>
            <td><i>Glaergul</i><br>"Amando"</td>
        </tr>
        <tr>
            <th rowspan='2' style='background-color: lightslategray;'>Tiempos<br>pretéritos</th>
            <th>Remoto<br><label style='font-weight: normal;'>(+ <i>Fjügul</i>, "pasado")</label></th>
            <th>Imperfecto<br><label style='font-weight: normal;'>(+ <i>Trudaj</i>, "ayer")</label></th>
            <th>Perfecto<br><label style='font-weight: normal;'>(+ <i>Trölj</i>, "antes")</label></th>
        </tr>
        <tr>
            <td><i>Fjügulglàer</i><br>"Amaba"</td>
            <td><i>Trudajglàer</i><br>"Amara/Amase"</td>
            <td><i>Tröljglàer</i><br>"He amado" o "Amé"</td>
        </tr>
        <tr>
            <th rowspan='2' style='background-color: lightslategray;'>Tiempos<br>presentes</th>
            <th>Continuo<br><label style='font-weight: normal;'>(+ <i>Gägul</i>, "presente")</label></th>
            <th>Subjuntivo<br><label style='font-weight: normal;'>(+ <i>Udaj</i>, "hoy")</label></th>
            <th>Simple<br><label style='font-weight: normal;'>(+ <i>Gölj</i>, "ahora")</label></th>
        </tr>
        <tr>
            <td><i>Gägulglàer</i><br>equiv. a "Estoy amando"</td>
            <td><i>Udajglàer</i><br>"Ame"</td>
            <td><i>Göljglàer</i><br>"Amo"</td>
        </tr>
        <tr>
            <th rowspan='2' style='background-color: lightslategray;'>Tiempos<br>futuros</th>
            <th>Sostenido<br><label style='font-weight: normal;'>(+ <i>Kängul</i>, "futuro")</label></th>
            <th>Concreto<br><label style='font-weight: normal;'>(+ <i>Wändaj</i>, "mañana")</label></th>
            <th>Imperfecto<br><label style='font-weight: normal;'>(+ <i>Följ</i>, "después")</label></th>
        </tr>
        <tr>
            <td><i>Kängulglàer</i><br>equiv. a "Seguiré amando"</td>
            <td><i>Wändajglàer</i><br>"Habré amado"</td>
            <td><i>Följglàer</i><br>"Amaré"</td>
        </tr>
        <tr>
            <th rowspan='2' style='background-color: lightslategray;'>Otros<br>tiempos</th>
            <th>Potencial<br><label style='font-weight: normal;'>(+ <i>Kanskë</i>, "quizás")</label></th>
            <th>Imperativo<br><label style='font-weight: normal;'>(+ <i>'al</i>)</label></th>
            <th>Antecopretérito<br><label style='font-weight: normal;'>(+ <i>Alëred</i>, "Ya, previamente")</label></th>
        </tr>
        <tr>
            <td><i>Kanskëglàer</i><br>"Amaría"</td>
            <td><i>(Kon) glaer'al</i><br>"(Tú) ama" o "(Vos) amá"</td>
            <td><i>Alëredglàer</i><br>"Había amado"</td>
        </tr>
        <tr>
            <td colspan='4' style='margin-left: 25px;background-color: white;'>* Traducciones aplicadas sobre la primera persona del singular (<i>Öl</i>) del verbo amar <i>(glaer)</i>.</td>
        </tr>
    </table>
    <h2 class='section-subtitle'>Adjunción verbal</h2>
    <p class='section-content'>
        Complementariamente, a algunos verbos <u>se les puede agregar tras su terminación una adjunción verbal</u>, lo que es decir un
        segundo verbo que concrete una acción más abarcativa y específica. Esto técnicamente no es un sufijo, ni tampoco
        deriva en una composición, y es por eso que se diferencia de ellos <u>intermediando un guión (-)</u> entre un verbo y otro.
        El resultado es el equivalente a una frase verbal del español o del inglés. En una buena parte de las veces, la
        adjunción verbal permanece en infinitivo y acompaña la noción del tiempo en el que el verbo principal está conjugado. Aunque también
        es posible agregarla como participio (con el verbo en infinitivo más el sufijo 'es' de los adjetivos) para crear un significado distinto.
        Algunos ejemplos son:
    </p>
    <table class='section-table'>
        <tr>
            <th>Verbo conjugado</th>
            <th>Adjunción verbal</th>
            <th>Resultado</th>
        </tr>
        <tr>
            <td><i>Öl göljwùjk</i><br>"Quiero"</td>
            <td><i>-fëjr</i><br>"Saber"</td>
            <td><i>Öl göljwùjk-fëjr</i><br>"Quiero saber"</td>
        </tr>
        <tr>
            <td><i>Kon fjügulsfàej</i><br>"Podías"</td>
            <td><i>-alar</i><br>"Hacer"</td>
            <td><i>Kon fjügulsfàej-alar</i><br>"Podías hacer"</td>
        </tr>
        <tr>
            <td><i>Kjaegen wändajfrèt</i><br>"Habrán intentado"</td>
            <td><i>-ëgael</i><br>"Ir"</td>
            <td><i>Kjaegen wändajfrèt-ëgael</i><br>"Habrán intentado ir"</td>
        </tr>
        <tr>
            <td><i>Klaej göljkàj</i><br>"Esto es"</td>
            <td><i>-talwer<b>es</b></i><br>"Llamado, nombrado"</td>
            <td><i>Klaej göljkàj-talweres</i><br>"Esto es llamado"</td>
        </tr>
    </table>
</section>